[2017-10-28 15:21] #140 closed

[2017-10-28 15:28] jancborchardt commented on #414
Ideally we should align that with our server support matrix, oe say something like "same as server except IE". Otherwise every app has separate compatibility and it will be just confusing.

[2017-10-28 15:32] skjnldsv commented on #414
Agreed! 👍

[2017-10-28 16:08] Henni commented on #414
https://docs.nextcloud.com/server/12/admin_manual/installation/system_requirements.html#supported-platforms

Both IE11 and Safari (7/8/9) prevent us from using any ES6 features. There would be the option of babel or some other cross-compiler, but in my opinion we as a community project can allow ourselves stricter requirements than the server project.

Also I don't believe that our code currently

[2017-10-28 16:16] jancborchardt commented on #414
Ok, sounds fine. cc @karlitschek @morrisjobke

Also it might make sense to align this with other community apps like Notes, Calendar @georgehrke, News @BernhardPosselt, Tasks @raimund-schluessler and probably Mail too @ChristophWurst @Gomez.

[2017-10-28 16:26] BernhardPosselt commented on #414
I'd just leave that up to the individual developers. Everyone uses different platforms (Mac, Linux, Windows, Android, iOS) and it's hard to test them (especially Safari which requires a Mac). Apart from that I don't really want to do work on Safari and IE related issues in my free time and I don't want to fiddle around with Firefox ESR which would require me to use a VM.

Choose whatever platform

[2017-10-28 16:46] georgehrke commented on #414
There is no official support for Opera at the calendar right now.
Nevertheless we support at least Internet Explorer 11. (and accept patches for 9 and 10, but no one ever sent a patch yet.)

[2017-10-28 20:12] Henni commented on #414
@BernhardPosselt I have assumed that Firefox ESR is pretty much just a normal old version of Firefox (at least in regards of web feature support). Is that assumption wrong?

[2017-10-28 20:32] BernhardPosselt commented on #414
Right that's why installing it in parallel is sorry shitty :)

[2017-10-29 20:20] integras opened #415 "Entering new contact results in: contact could not be saved"
### Steps to reproduce
1. Create a new entry (any addressbook)
2. Mark the string `<New contact>`, delete it with backspace and type the new name, e.g. Testname, Test2, ...
3. This results in the message: contact could not be saved

### Expected behaviour
The name should be accepted and stored correctly without error message

### Actual behaviour
The error message pops up. Still the new contact is

[2017-10-29 20:39] integras commented on #415
#### Browser log
[code]

[2017-10-29 20:41] integras commented on #415
Maybe this is the same issue as #405 or at least related? It does possible to enter a contact though, even if the system says the contrary... the error message is the same.

[2017-10-29 20:47] integras commented on #415
Strange observation: originally I thought that this was related with Umlaute. I noticed it when entering the city and it would hiccup when the umlaut was entered. I then made a lot of experiments and it seemed that the speed I enter the letters makes a difference. Entering them very slowly, waiting 3-4 seconds between every key-press did not raise the error. Don't know if this is of any relevance,

[2017-10-29 21:06] integras commented on #415
I do not know about #402, but the description #397 sounds a bit like what I am seeing here. It seems to depend on entry speed there too. I have seen the behaviour in fields (City, Street) also, as described in #397, not only in the main name field.
My server is a synology diskstation which is not really fast, but not very slow either.

[2017-10-29 21:09] integras commented on #415
Just FYI: number of contacts is 544 (distributed over 5 addressbooks which are shared so that one user gets all the 544 contacts). Does not seem much to me, but who knows... :)

[2017-10-30 04:13] skjnldsv commented on #415
Yes, this is a duplicate of #397.
Error 412! :)

[2017-10-30 06:32] integras commented on #415
Thanks for the info :)
Should I rather wait for 2.0.2 (since nothing really bad seems to happen) or should I go for the last nightly build and check if the issue goes away?
Another question: is this behaviour an indicator meaning that I should tweak my nextcloud installation somehow?

[2017-10-30 07:07] skjnldsv commented on #415
You can try the latest nightlies if you want yes! :)
This is a indicator that the server takes a long time to respond. So it might be great to check if everything is alright!

[2017-10-30 08:24] ChristophWurst commented on #305
Did it also happen to you when you switched to an app branch where the version number was behind the latest release? Because that's why I twice lost my Mail dev files as Nextcloud replaced the local app directory with a tarball from the app store.

[2017-10-30 08:58] Henni commented on #305
@ChristophWurst yes, that is exactly what happened. I don't know how this could be solved by the server repo... Maybe offering to skip upgrade if debug is enabled? Or is there already a command line option for the upgrade script which prevents this?

Also keeping the `.git` directory would have sufficed in my case.

[2017-10-30 09:05] ChristophWurst commented on #305
It's simple: if an app is downgraded, then don't replace it. Alternatively, don't run the *update everything that can be updated* after an app update/downgrade.

[2017-10-30 10:32] jancborchardt commented on #305
@ChristophWurst @Henni yep, or is it possible to check if the app is checked out via git? In that case it should of course not be upgraded with one from the app store.

[2017-10-30 16:04] jancborchardt commented on #305
Opened a separate issue about the core problem at https://github.com/nextcloud/server/issues/7011

Let’s keep this issue on topic for working on the sections. :)

[2017-10-31 11:43] irgendwie commented on #395
@ds4a Would you mind re-checking if this still occurs on your instance?
Feel free to reopen the issue then, otherwise I'm also not able to reproduce this anymore.

[2017-10-31 12:05] pixelipo opened #417 "Allow named contact events"
### Steps to reproduce
1. Try to add a second `anniversary` to a contact

### Expected behaviour
Have two different anniversary dates for a single contact

### Actual behaviour
Anniversary field is occupied, no new ones can be created.

Google Calendar/Contacts allows adding as many dates to a contact as one wants. There are few default ones (Birthday, Anniversary), but also custom ones can be cre

[2017-10-31 12:51] Henni commented on #417
Thanks for the issue.
We can't reuse the vcard property `anniversary` because it is allowed only once in vcards.
Android creates properties like this:
[code]

Anyone able to test which property Apple uses?

[2017-10-31 18:21] irgendwie commented on #417
jfr. #223

[2017-10-31 19:36] irgendwie commented on #399
Can someone with a Mac reproduce this issue given the instructions in this issue?
I'm not sure, why this happens. @PaddyPat What happens if you try to reconfigure your Mac client (such that all address books are read in again)?

[2017-10-31 19:59] irgendwie commented on #226
Should be fixed by https://github.com/nextcloud/server/pull/5299

[2017-10-31 19:59] #226 closed

[2017-10-31 20:02] irgendwie commented on #203
No response, closing this for now - feel free to reopen the issue and further explain the feature you want to be added.

[2017-10-31 20:02] #203 closed

[2017-10-31 20:10] irgendwie commented on #181
Sounds like you are trying to access a non-existing address book. Please make sure the you did type the URL correctly (or just copy it from the contacts app in the settings area), otherwise please provide the error log to the developers of Cardbook. Maybe they can narrow the error down.

[2017-10-31 20:10] #181 closed

[2017-10-31 20:16] irgendwie commented on #160
Since the URL in the settings shows the direct link to the address books (which is intended behavior), we won't change it.
In theory it should be enough to provide `/remote.php/dav/` to the Mac contacts client, since it should be able to find all address books and paths automatically.

[2017-10-31 20:16] #160 closed

[2017-10-31 22:21] pixelipo commented on #417
I don't think it's a duplicate. The other issue is only proposing one particular solution to this problem...

[2017-10-31 22:51] integras commented on #415
Tested the following build: nextcloud_contacts_nightly_build_2017-10-30.tar.gz

Problem has improved, but has not gone away, I can reproduce error messages when writing longer comments (a few words) into the Note field. Observations:
* to the left no groups are displayed anymore, they are still contained in the contacts though
* selecting a contact seems noticeably slower now before the details ar

[2017-10-31 22:53] skjnldsv commented on #415
Could you post a screenshot of your network tab after a few errors? Especially the timeline part! :)

[2017-10-31 23:00] integras commented on #415
![screenshot from 2017-10-31 23-58-22](https://user-images.githubusercontent.com/6680031/32252792-85506a9e-be97-11e7-82a1-4f8b472f2c88.png)
I am unfamiliar with this kind of information, so please let me know if this is not what you expect :smiley:

[2017-10-31 23:04] skjnldsv commented on #415
That is exactly what I was looking for! :)
Unfortunately this is not what I was thinking it would look like. 🤔

It's very strange. Do you just type continuously or with a specific way to do it?

[2017-10-31 23:07] integras commented on #415
Sorry for that... :wink:
I am typing with 4 or 5 fingers, pretty quick for an ordinary computer user, but nothing like a professional typist. Just typing away, sometimes spaces, sometimes waiting a bit thinking of what I want to write.

[2017-10-31 23:08] integras commented on #415
The messages pile up, mostly 2, sometimes up to 4 (or even more, I don't count them precisely) and then go away after some time one by one.

[2017-10-31 23:55] integras commented on #415
I might have good news... have experimented a bit and can report the following.

After completely cleaning the browser cache, stopping and restarting it
* I can not reproduce the error anymore
* the groups to the left are displayed correctly

Yay! :grin:

Thanks for your help and sorry for the browser cache. I should have thought of it before reporting back...

[2017-10-31 23:55] #415 closed

[2017-11-01 00:15] integras opened #418 "Lines get cut in the middle when overflowing to right column"
### Steps to reproduce
1. Create a new entry (any addressbook)
2. Add several fields (any) so that the fields are displayed in two columns
3. The first column gets cut in the middle of the field

### Expected behaviour
The column should be broken such that the field (or the field part) stays intact (either completely in the left or completely in the right column)

### Actual behaviour
The last fie

[2017-11-01 00:20] integras commented on #418
![screenshot from 2017-11-01 01-06-13](https://user-images.githubusercontent.com/6680031/32254617-2ca3f694-bea2-11e7-9e36-60630c84c409.png)
If you look carefully the upper part of the dropdown triangle is at the end of the left column, whereas the lower part and the word *work* is in the right column.

This happens independently of the type of entry field, sometimes the text in the field is cut in

[2017-11-01 00:27] integras commented on #405
If this issue is the same as #415, it could be closed...

[2017-11-01 00:30] integras commented on #418
If @skjnldsv is serious in #394 about rebuilding the layout, this could be another candidate for consideration :smiley:

[2017-11-01 06:05] #405 closed

[2017-11-01 06:13] skjnldsv commented on #418
Duplicate #56

[2017-11-01 06:13] #418 closed

[2017-11-01 07:22] integras commented on #418
Always surprised about how few issues I find when trying to report something and how many there are in the end. Seems that my vocabulary is out of tune :wink:

Maybe I should enter a new enhancement request: map beginner's vocabulary to the one used by the developing community when reporting errors :smile:
Intrigued which reference @skjnldsv would dig out for that one :smirk: :joy:

[2017-11-01 09:26] irgendwie commented on #138
just some references for developers:
- https://github.com/nextcloud/contacts/commit/10fa229d7a1463d417c10ac3e11f49aeaa09073c
- https://alessandrorossini.org/the-sad-story-of-the-vcard-format-and-its-lack-of-interoperability/

[2017-11-01 10:33] irgendwie commented on #399
@PaddyPat I found a thread in the ownCloud forums, which deals with syncing problems on Mac OS. Maybe you are able to find a workaround/configuration over there! (https://central.owncloud.org/t/owncloud-9-1-1-1-2-macos-sierra-carddav-not-working-solved/3481)
It would be helpful if you can share the solution, if you find one. Otherwise there isn't much we can do on our side in the moment.

[2017-11-01 17:09] #126 closed

[2017-11-01 23:22] ds4a commented on #395
I can confirm this is now resolved for me also. No new release install required.

[2017-11-02 08:01] skjnldsv opened #420 "Can't use the addressbook popovermenu on mobile"
When using a mobile device, we can't use the popovermenu as it goes away half a sec before the user click.

[2017-11-02 08:04] skjnldsv opened #421 "Show delete option by default on mobile"
On mobile, you need to click the contact detail element to show the delete button

[2017-11-02 08:04] irgendwie opened #422 "read-only view broken in shared address books"
#419 broke the read-only view in shared address books

[2017-11-02 08:47] irgendwie commented on #374
Seems to be fixed by  #380, can't reproduce it anymore at least.

[2017-11-02 08:47] #374 closed

[2017-11-02 09:07] irgendwie commented on #360
Issue should be fixed by #380 and #382

[2017-11-02 09:07] #360 closed

[2017-11-03 10:30] Maximilian-N opened #426 "Relation property not being synced to android"
Hi,

it seems the "relation" property of contacts is not properly synced to android.

### Steps to reproduce
Case A:
1. Create dummy account with relation entry in nextcloud .
2. Sync to android using DAVDroid.

Case B:
1. Create dummy account with relation entry on android.
2. Sync to nextcloud using DAVDroid.

### Expected behaviour
Case A:
The dummy account should have an entry for relation on

[2017-11-03 10:36] skjnldsv commented on #426
The synchronisation issues are not related to this app. It must come from Davdroid. :/

[2017-11-03 10:48] Maximilian-N commented on #426
Could it not be that nextcloud stores the info in a different format than android? It is more of a reading issue? Could not find something for davdroid but their error reporting seems a little chaotic to me.

[2017-11-03 11:04] irgendwie commented on #426
In android the relationship field gets added like this:

`RELATED;TYPE=sibling;VALUE=TEXT:Alexander Weidinger`

In our app it gets added like this:

`RELATIONSHIP:SISTER`

The `RELATED` property exists in the RFC 6350 (https://tools.ietf.org/html/rfc6350#section-6.6.6), while `RELATIONSHIP` seems to be a custom property. :see_no_evil:
It was introduced by https://github.com/nextcloud/contacts/pull

[2017-11-03 11:04] skjnldsv commented on #426
@Maximilian-N basically we just store what we receive in the database. So if the exported cotact does not have the properties in it, it's because it is not sent to the nextcloud server.

When you say you don't have a relation on the nextcloud contacts app, you mean displayed? Have you tried exporting the contact and see if the property were in there? :)

[2017-11-03 11:11] Maximilian-N commented on #426
To me it seems those 2 properties are not meant for the same thing.

`RELATIONSHIP:SISTER`

is probably meant to save someone as your sister while

`RELATED;TYPE=sibling;VALUE=TEXT:Alexander Weidinger`

is probably meant to note that this contact has a sibling named Alexander Weidinger

[2017-11-03 11:37] Maximilian-N commented on #426
@skjnldsv

Some more research.

I created this dummy in android:

Name: Some Guy.
Mobile: 1111
Relationship: Coworker: Another Guy.

Skipping davdroid and exporting from android and into nextcloud via vcf file gives the following:

vcf generated by android:

`BEGIN:VCARD
VERSION:2.1
N:Guy;Some;;;
FN:Some Guy
TEL;CELL:1111
X-ANDROID-CUSTOM:vnd.android.cursor.item/relation;Another Guy;1;;;;;;;;;;;;;

[2017-11-03 13:25] skjnldsv commented on #426
Thank you for the detailed response. :)
@irgendwie should we support both?

[2017-11-03 13:34] djermann opened #428 "Large addressbook makes browser slow/unresponsive"
A customer has a large address book with more than 13'000 contacts. When opening the contacts app it takes more than 3 minutes to load the contacts and chromium shows the page-is-unresponsive message several times. When the contacts are finally loaded, every further action takes at least a half a minute to be performed. The whole tab the uses more than 700 MB of RAM. There should be a better memor

[2017-11-03 14:33] irgendwie commented on #428
@djermann The contacts app by now handles large amounts of contacts in a bad way, there is no question about it. The problem for me is, that I have no real idea on how to improve this situation. Maybe you can share the use case of such a high number of contacts and how we should improve the handling? E.g.
- How to choose which contacts to initially load?
- Completely filter out specific contacts?

[2017-11-03 16:05] djermann commented on #428
I can think of different possible approaches to solve this.
1. When a user opens the contacts app, it only shows the first 10-20 contacts in alphabetical order. If there was a way to detect which contacts are visible in the webinterface, then the contacts app would only download these plus maybe 100 more. Later the user maybe decides to scroll down, so the already downloaded 100 more contacts woul

[2017-11-03 20:20] #362 closed

[2017-11-04 13:14] mathiasconradt opened #429 "Contact detail view: Two column layout cuts input field in half"
@nextcloud/designers:  I have this on the Nextcloud staff internal NC 12.0.3:

When you have a wide screen and the contact layout breaks into two columns, at the end of the first column, the input field (in my case, the birthday field) gets cut off and continues at the top of the second column.

Happens on Chrome 62.0.3202. as well as Opera 48.0 on Mac OS X.

<img width="523" alt="screen shot 2017

[2017-11-04 13:29] skjnldsv commented on #429
Yes, this is a known issue! :)
#56

[2017-11-04 13:29] #429 closed

[2017-11-06 06:02] catscarlet commented on #168
I'm still using 1.5.3 because 2.0+ is too broken.

The problem is in the zh_CN.json, about line 39.

[code]

You can see there is a unknown char. Just delete that char and everything will be fine.

[2017-11-06 06:02] catscarlet commented on #168
I'm still using 1.5.3 because 2.0+ is too broken.

The problem is in the zh_CN.json, about line 39.

[code]

You can see there is a unknown char. Just delete that char and everything will be fine.

[2017-11-06 08:13] irgendwie commented on #168
@MorrisJobke Can we do something, to make sure that translations at least don't contain broken character?

[2017-11-06 08:23] MorrisJobke commented on #168
@nickvergessen Had something in place AFK. Any idea?

[2017-11-06 08:23] #420 closed

[2017-11-07 09:51] irgendwie commented on #426
@xh3n1 \*ping\*

I'd like to replace the property with RELATED if there are no objections.

[2017-11-07 14:32] toehold opened #431 "Export all Contacts missing and Groups not sorted"
After updating NC to 12.0.3 and updating Contacts to 2.0.1, the Export all Contacts is missing
and the Groups are sorted wrongly!

### Steps to reproduce
1. Go to Contacts

### Expected behaviour
Export all Contacts in Settings Menu

### Actual behaviour
Export is missing

### Server configuration
**Operating system**: Linux
**Web server:** Apache2
**Database:** mysql
**PHP version:** 7
**Nextclou

[2017-11-07 21:11] skjnldsv commented on #431
You can export your addressbooks one by one. :)

[2017-11-08 03:34] DrTechdom commented on #257
Was this fixed as of 2.0.1? I am having the same issues while editing contacts
Google js chrome:
412 (Precondition failed)
501 sometimes

Nextcloud chrome client says:
Contact could not be saved

apache2: (sometimes, fixed when changed memory-max to 4G)
PHP Fatal error:  Allowed memory size of 1073741824 bytes exhausted (tried to allocate 77 bytes)

I changed the ETag to OC-ETag with no success as

[2017-11-08 07:03] skjnldsv commented on #257
No it's not released yet

[2017-11-08 14:37] CamZie commented on #258
@skjnldsv Sorry for the late response, but I have been doing some tests on my side.
I noticed that there is a new release for the contacts app (2.0.1) so I figured I would upgrade it in my Nextcloud installation. After this upgrade, the customer reported that the contacts appear. However, in the log files I still see the following errors related to this customer's address book. The log entry seems

[2017-11-08 18:01] j-ed commented on #428
Let me point your attention to the CardDAV plugin for Roundcube (https://github.com/blind-coder/rcmcarddav), which is a CardDAV client, programmed in PHP, which works perfectly well with my Nextcloud server. I must admit, that I only have 600 contacts in my address book, but it might give you an idea how it could look like.
Right after a CardDAV address book has been set-up an initial address sync

[2017-11-08 18:05] skjnldsv commented on #428
@j-ed aside from the chunk loading, we're actually loading our info like that :)

[2017-11-08 18:50] j-ed commented on #428
@skjnldsv Ok, that's new to me. I wonder where the huge performance differences are coming from if I compare both applications 😕

[2017-11-09 22:11] konsdibons opened #432 "Incorrect synchronization of the instant messaging entries"
Steps to reproduce
1. Usernames for Instant Messaging that are saved and created in the nextcloud contacts app are needed.
2. Access to your contacts via e.g. DAVdroid (Android) or CardBook (Thunderbird)
3. Have a look at the Instant Messaging entrys on your Android or Thunderbird

Expected behaviour
Your choice of Instant Messaging Service when you created the entry should also be available on An

[2017-11-09 22:13] schnittchen opened #433 "vCard import broken"
This is probably a bug on the frontend, see console log at the bottom.

### Steps to reproduce
1. Upload a .vcf
2. Watch spinner forever
3.

### Expected behaviour

Contacts are imported.

### Actual behaviour

A javascript exception

### Server configuration

**Operating system**: CentOS on a shell hoster (uberspace.de)

**Web server:** dunno

**Database:** postgres 9.3

**PHP version:** 7.0

**N

[2017-11-09 22:53] Henni commented on #433
Could you give us the complete stack trace of the browser log?
It should contain more details about where in our could this happens.

[2017-11-09 22:55] Henni commented on #432
I think I should be able to reproduce this.
But just to be sure: Could you share some example vCards with us.

[2017-11-10 09:48] konsdibons commented on #432
sure.
I have to files for you. The first one is created with the contacts app in my browser and the other one is created with CardBook (Thunderbird). The name of the vCard says with which device it was created.

**1 (contacts app):**
[code]

**2 (CardBook/Thunderbird):**
[code]

[2017-11-10 11:06] CamZie commented on #428
We have also encountered a problem after upgrading the contacts app to 2.0.1. On the Firefox browser version 52 on Linux, large contacts (in our case 398 and 4908) are not showing and only the spinning wheel appears. I had a look on the log files, as well on the browser console but I did not find anything related to this.

I tested this on different browsers and it worked for the browsers below. I

[2017-11-10 14:59] nickvergessen commented on #168
For the empty box character? Not really. I manually removed it in transifex last time.

[2017-11-11 16:59] christianh95 commented on #290
Same here! I am migrating my phone's calender and addressbook to NC and this issue is the only reason why I don't want to fully migrate my contacts right now. Would be great if the contacts app allowed to manage custom number types/descriptions

[2017-11-12 16:27] weslimitless commented on #433
I am having the same issue.  Fresh install.  Here is the browser trace.

Error: window.localStorage is null
@http://localhost:8080/custom_apps/contacts/js/public/script.js?v=0d9c254b2908a01ad078c01544a744dd-2:2546:6
instantiate@http://localhost:8080/custom_apps/contacts/js/vendor/angular/angular.js?v=0d9c254b2908a01ad078c01544a744dd-2:4733:14
service/<@http://localhost:8080/custom_apps/contacts/js

[2017-11-12 16:44] weslimitless commented on #433
Hmm, it's not actually the importer -- it's the sort order check that's causing it.

In 'SortByService' in script.js its checking for defaultOrder from window.localStorage and it's null.  I'm entirely unfamiliar with the project so I'm not sure of the ramifications, but if I put an null check around the block like so:
	if (window.localStorage) {
		var defaultOrder = window.localStorage.getItem('co

[2017-11-12 19:05] Henni commented on #433
@weslimitless which browser (and version) are you using?

[2017-11-12 19:08] weslimitless commented on #433
Firefox 56.0.2, OSX

[2017-11-13 10:44] CamZie opened #434 "Continuous HTTP error 412 on PUT requests to the address book"
### Steps to reproduce
1. use Mac OS X 10.13 as the client for the Contacts app (AddressBook/1806)
2. Synchronise your Contacts with the Nextcloud contacts app

### Expected behaviour
No 412 HTTP error should appear and the load on the server should not go higher.

### Actual behaviour
Continuous HTTP 412 PUT response for an address book (see below "Web-server access log"), which causes a high loa

[2017-11-13 19:15] mlsxlist opened #435 "Contacts not show up after updating Contact app to 2.0.1"
### Steps to reproduce
After updating the Contacts app to version 2.0.1 it does not show any contacts but only the turning waiting indicator on the left side and on the right side the text _No contacts available_

### Expected behaviour
Stored contacts should be shown when the app is opened

### Actual behaviour
No contacts are show with Contacts 2.0.1.

### Server configuration
**Operating system

[2017-11-13 23:29] thoschl commented on #434
Same behaviour here. I informed Apple about this. But I am not sure if the problem is in contacts on the serverside. Try to sync with an iOS client and you'll see that it works. I also tried an older Addressbook-Client in OS X 11.6 and it works too.

[2017-11-14 06:08] skjnldsv commented on #435
Have you tried clearing your cache?

[2017-11-14 06:08] skjnldsv commented on #434
Have you tried our nightlies?
We fixed a similar issue.

[2017-11-14 06:29] mlsxlist commented on #435
Thanks, that did the job. Sorry for the noise. Could have figured out myself.

[2017-11-14 06:29] #435 closed

[2017-11-14 07:09] juliushaertl opened #436 "Action icons should be centered"
The action icons for email/phone numbers are not centred to the input field.

![bildschirmfoto vom 2017-11-14 08-04-52](https://user-images.githubusercontent.com/3404133/32767278-f229e12e-c912-11e7-8802-1c5b202e415d.png)

[2017-11-14 10:18] thoschl commented on #434
I tried the nightly nextcloud_contacts_nightly_build_2017-11-14.tar.gz and the issue still exists.

[2017-11-14 23:04] thoschl commented on #434
As said, I paste logs from my nextcloud 12.0.3 Server and OS X 10.11.6 addressbook client. It's behind a reverse proxy. As you can see there are no 412 errors.
[code]
Same server but accessed by the new macOS 10.13.2 client:
[code]

[2017-11-15 07:48] skjnldsv commented on #434
Does this happens every time or only when you edit contacts?

[2017-11-15 10:25] nickvergessen commented on #168
Ah yeah I just remembered, we have a script to detect this:
https://github.com/nextcloud/server/blob/master/build/translation-checker.php

But we can't automatically fix it.
But when you find the error, you can simply fix it on transifex

[2017-11-15 11:20] thoschl commented on #434
To be honest I'm not a developer and I never analyzed the protocol. But I would say the errors occur, whenever client should "receive" a change or tries to change something. In the logs I sent, you can see  PUT results in Error 412 and the REPORT ends in an 403. That seems to be an unauthorized access as far as I interpret that behavior. So something with the credentials seems to be changed.

[2017-11-16 11:08] Flore-mozfr opened #437 "Add a "copy" button to the read-only view"
Hello everyone,
I have shared an address book with other users in my instance, (read-only on purpose), but the problem is : you can’t copy anything (email, phone number, address…). Of course, there’s a icon to compose a mail to the person or to call / message them (not very useful on a computer, imho). And it’s kind of frustrating: you see it, but can’t copy it
So it would be great if there was an

[2017-11-20 07:00] tYYGH opened #439 "Unusable Web UI (Firefox 57)"
### Steps to reproduce
1. Load Contacts app in the Web UI

### Expected behaviour
Usable app.

### Actual behaviour
From looking at the page, you can tell something is off. Seriously so, unless some major UI overhaul took place in the last 6 months…
Items in the right pane (contacts) are unresponsive: nothing is clickable except the star.

### Server configuration
See here:
https://github.com/next

[2017-11-20 07:15] tYYGH commented on #439
What I get:
![bug_contacts](https://user-images.githubusercontent.com/5556825/33006448-b1d49594-cdca-11e7-8b5b-1d077393de9c.png)

[2017-11-20 08:25] skjnldsv commented on #439
Hi! Could you please clear your cache? :)

[2017-11-20 17:11] jwich71 opened #440 "All contacts deleted after upgrade NC from 11.0.3 to 12.0.3 and contacts 2.01"
After NC Upgrade with Updater App from 11.03 to 12.0.3 all my contacts syncronized via CardDAV are deleted or no more visible in the WebUI.
Before upgrade all contacts were visible.

Nextcloud 12.0.3
Contacts 2.01
CentOS 7.4
PHP 7.1.11-1.el7.remi.x86_64
mariadb-server-5.5.56-2.el7.x86_64
httpd-2.4.6-67.el7.centos.6.x86_64

[2017-11-20 18:05] paraqles opened #441 "Contacts App has wrongly looking Webinterface"
To mention:

Logs are not giving a clue. Also Browser log does only show 302 and 200 for all (and there a lot 488 requests).

And also browser caches are cleared on each request with developer tools and also a try with manual clear.

Happens in Firefox 57, Chrome and Safari

### Steps to reproduce
1. Fresh Install of NextCloud 12
2. Activate Contacts app
3. Navigate to contacts app

### Expected b

[2017-11-21 07:27] tYYGH commented on #439
Hi @skjnldsv . I did as you said. I get the same results. Here are the full logs:
* Firefox “access.log”: http://yalis.fr/public/contacts_firefox.log
* Firefox console: http://yalis.fr/public/contacts_firefox.har
* Nginx logs: http://yalis.fr/public/contacts_nginx.log
* Nextcloud/uwsgi logs: http://yalis.fr/public/contacts_nextcloud.log

[2017-11-21 08:48] pixelipo commented on #439
I am running NC12 on Firefox57 and Contacts app works as expected. @tYYGH can you please try opening in "safe mode"? You seem to be using a lot of Add-ons, and it's possible some of them are not compatible and are causing this.

[2017-11-21 11:00] tYYGH commented on #439
np, I have a Firefox profile dedicated to that: pristine state, no addon. I’ll test when I am at home…

[2017-11-21 12:02] tYYGH commented on #439
Following an eye-opening comment on Polls (https://github.com/nextcloud/polls/issues/249), I can confirm that taking the `scss` files out of app-dir “fixes” (works around) the issue (see https://github.com/nextcloud/polls/issues/230).

[2017-11-21 15:10] pixelipo commented on #439
I guess we can close this, then

[2017-11-21 15:10] #439 closed

[2017-11-21 19:42] jbmorgado commented on #439
This shouldn't be closed, the bug it is still there, what was sugested was a woraround the bug.

[2017-11-21 20:49] skjnldsv commented on #439
It's not a contact issue though.

[2017-11-21 20:50] pixelipo commented on #439
Not really. There is nothing wrong with NC on a Firefox 57.

There is possibly an issue with the way apps fetch resources from core, which is clearly not what this issue is about.

[2017-11-21 21:13] jbmorgado commented on #439
I'm using NC in Firefox 57 and the bug is exactly this...

If you are so picky about the information we have to put in the bug report and then only go about checking if it works in your particular system, then why do you make people go trhough all the hassle to provide all that information in the first place?

If you don't want to fix the bug yourself just let it open so that some other contributo

[2017-11-22 11:02] splitt3r commented on #439
@jbmorgado It seems to be an upstream bug wich is caused by something else. You could track the status [here](https://github.com/nextcloud/polls/issues/249) until somebody creates an issue in the server repo. Of course we appreciate you participation in the discussion / you issue creation.

[2017-11-22 22:22] memen45 commented on #433
I am having the same issue with importing a .vcf file (vcf with single entry does work). The left panel keeps spinning and opening a new tab does not show any contacts being added.

Nextcloud server 12.03

[2017-11-23 07:15] skjnldsv commented on #433
@memen45 what contact version? Please add your logs. :)

[2017-11-23 07:29] memen45 commented on #433
Contacts version 2.1.0 (just activated the day before yesterday)

There are no entries generated in the logging after trying the import (so,
admin settings, Logging tab) . Where can I find the logs that are
interesting for this problem?

Op 23 nov. 2017 08:15 schreef "John Molakvoæ" <notifications@github.com>:

[2017-11-23 07:37] skjnldsv commented on #433
Mostly the browser log then. :)

[2017-11-23 08:00] memen45 commented on #433
Okay, this is the output from console (I am using Microsoft Edge):

Sorry for the dutch warning in the beginning, it says "Resource caused a conflict"

[2017-11-23 08:30] pixelipo commented on #439
Most probably caused by https://github.com/nextcloud/server/issues/5289

[2017-11-23 10:34] shtrom opened #442 "Another display issue"
### Steps to reproduce
I'm not quite sure how to reproduce:
![screenshot from 2017-11-23 21-30-59](https://user-images.githubusercontent.com/160280/33168626-ad61354e-d095-11e7-9f54-8ecf5e960f94.png)

Could be linked to #441 and nextcloud/deck#346 (though the issue was present with Deck much earlier).

### Expected behaviour
Contacts should be nicely displayed and images properly scaled

### Actual

[2017-11-23 10:38] skjnldsv commented on #442
Have you tried clearing your cache?

[2017-11-23 10:42] shtrom commented on #442
I did a Ctrl+Shift+R. I'll try clearing all the cache.

[2017-11-23 10:52] #233 closed

[2017-11-23 11:02] skjnldsv commented on #442
Thanks for trying :)
In which path is the app contacts app installed on your server?

[2017-11-23 11:05] shtrom commented on #442
Ah, I do have two app paths. It's (only) in the writable one:
[code]

[2017-11-23 11:06] skjnldsv commented on #442
That's what I though :)
This is related to https://github.com/nextcloud/server/issues/5289
You need to set an alias and check your allowed root in php. This is (mostly) not a nextcloud  issue.
Though there is a fix in addition if all of it does not work in https://github.com/nextcloud/server/pull/7257

[2017-11-23 11:14] brunt82 commented on #440
Means the contacts are still there? (e.g. by requesting with Thunderbird or CardDav-Client)?

[2017-11-23 11:18] skjnldsv commented on #440
Can we have a screenshot please?
Any errors in the browser's log?

Also: yes, the contacts are handled in the db and the malfunction of this app does not induce a data loss.

[2017-11-23 11:22] shtrom commented on #442
Yeah, I already have

            Alias /local/apps /sites/example.net/cloud/apps

in my config, and I can access the CSS files in `/local/apps/contacts/css/style.css` with no problem, but the app loaded from `/app/contacts` never seem to try to get to them.

[2017-11-23 11:23] skjnldsv commented on #442
Okay, then can you try https://github.com/nextcloud/server/pull/7257 ? :)

[2017-11-23 11:24] shtrom commented on #442
Correction: it does hit `/local/apps/...` but only for HTML files.

I'll try to give a go to that fix, but can't try it immediately.

[2017-11-23 11:45] shtrom commented on #442
Heh, turns out I could. The patch didn't apply cleanly, but once everything in `lib/private/Template/CSSResourceLocator.php` was fixed, it all started looking lovely again. Cheers!

[2017-11-23 11:45] #442 closed

[2017-11-23 17:25] jpmoney5065 opened #443 "View only / Filter selected address book"
Should be able to view only a single address book at a time instead of all combined.

![snap1](https://user-images.githubusercontent.com/19828719/33184150-c7695016-d040-11e7-8739-8c9bf4852726.png)

[2017-11-23 17:27] skjnldsv commented on #443
Duplicate #36

[2017-11-23 17:27] #443 closed

[2017-11-24 00:19] lual opened #444 ""groupname (new group)" stored"
### Steps to reproduce
1. Open any of your contacts
2. Click in the Groups Textbox and Type a new Group Name. E.g. "mygroup"
3. A suggestion will appear "mygroup (new group)"
4. If you just hit Enter - everything is as expected, but if you select the suggestion "mygroup (new group)" is stored.

### Expected behaviour
"mygroup" should be saved.

### Actual behaviour
"mygroup (new group)" was saved.

[2017-11-24 10:52] MarkusH1975 opened #445 "Number of Contacts shows just 999+ instead of real number"
### Steps to reproduce
1. add more the 999 contacts, e.g. 1255

### Expected behaviour
Should show e.g. 1255 instead of 999+

### Actual behaviour
Shows 999+

**Nextcloud version:** (see Nextcloud admin page)
V12.0.3
**Contacts version:** (see Nextcloud apps page)
V2.0.1

![contacts](https://user-images.githubusercontent.com/30717540/33207094-aa844f74-d10c-11e7-8541-152d105d0742.png)

<bountysourc

[2017-11-24 11:43] irgendwie commented on #445
This was/is a design choice - do you have a need for the exact number of contacts?

[2017-11-24 13:25] mburnicki commented on #445
If the real number of contacts is shown anyway, why not show it? This would really help verifying that everything works as expected.

The current situation with PIM apps is generally pretty unsatisfying, IMO. I've got a huge number (~3000) of contacts in different address books that evolved over several years. Originally this was hosted with owncloud, and you could at least edit all properties wit

[2017-11-25 10:49] jwich71 commented on #440
After a server reboot, the contacts are all visible again. Don't know what happend there.
Thanks for your help.

[2017-11-25 10:49] #440 closed

[2017-11-26 14:27] jsavalle commented on #445
+1 for real number or at least for some doc on what should I tweek to get the real number of contact.

[2017-11-27 10:07] paraqles commented on #441
SOLVED:

missed the the correct nginx config in the last part:

was:
[code]

but should be:
[code]

[2017-11-27 10:07] #441 closed

[2017-11-27 12:01] paraqles commented on #433
Hi,

I seem to have a similar problem. Not quite sure it it is the same cause.
The Browser Console says:
[code]

[2017-11-27 16:34] novij opened #446 "Feature request: show Nextcloud system users in contact app"
Nextcloud system users are displayed in contact search on the top right corner, but not in contact app if you click "show all contacts".
![contacts-empty](https://user-images.githubusercontent.com/111357/33277190-10355c4a-d398-11e7-8eb1-97d7d0f79b7b.png)

On IRC i got the answer that this is not possible at the moment. I think there are use cases where a global address book would make sense, e.g.

[2017-11-28 22:19] skjnldsv commented on #446
Duplicate https://github.com/nextcloud/server/issues/693

[2017-11-28 22:19] #446 closed

[2017-11-29 12:33] skjnldsv commented on #433
@irgendwie didn't we had this bug fixed earlier on? :)

[2017-12-01 07:06] cybexr commented on #387
still have the same question on 12.0.3

[2017-12-01 07:19] skjnldsv commented on #387
It has been fixed in server. You need to wait for the next release.

[2017-12-01 11:35] thoschl commented on #434
I did some research about this issue. Meanwhile I think it might be a problem with nginx. I downloaded a refrence VM from techandme.se and tested there. Everything worked.
I use nginx 1.10.3 as webserver and reverse-proxy. @CamZie how ist your configuration of nginx?

[2017-12-01 14:27] CamZie commented on #434
@thoschl the following is the nginx config of our installation: [nginx_NC1202.txt](https://github.com/nextcloud/contacts/files/1521891/nginx_NC1202.txt) . Could you also send me yours?

[2017-12-01 23:48] thoschl commented on #434
@CamZie of course I split my configuration in two files First is gateway (Proxy) from where I want to access the server(s) themselves (owncloud). A lot of testing tainted the config, I will clean it when the problem is solved.

[gateway.txt](https://github.com/nextcloud/contacts/files/1523309/gateway.txt)
[owncloud.txt](https://github.com/nextcloud/contacts/files/1523310/owncloud.txt)

[2017-12-02 15:35] pard68 commented on #433
Don't have logs at the moment, I'm on my phone. I am getting a similar issue. I was able to get past the spinning by opening the vcf file and changing version number to 3.0.

It sort of works, gets past the spinning, but it took 30 minutes to upload a single contact and never imported more than the first contact. Might want to check the vcf version, Contacts won't upload any version 2.X vcf files.

[2017-12-06 03:37] jgillich commented on #433
@skjnldsv 5aed74a5c8115bc3410efe71671b1fe62bd7c7ed#diff-1cd44ca306cfb3d1534a3f7a337ea43a

I really don't know Angular at all, but according to [this SO post](https://stackoverflow.com/questions/18626039/apply-already-in-progress-error) you probably cannot nest `scope.$apply()`.

Now I'm also wondering why Angular is used for such a simple app, but I guess that's not really relevant here...

[2017-12-07 03:17] ryanerickson opened #447 "Contacts doesn't work at all..."
I'm unable to get Contacts to work at all... nothing. Only a gayed out cog and a spinner. Everything else thus far seems to work great. I'm stuck.

### Steps to reproduce
1. New install of Nexcloud 12.04
2. Installed Contacts App
3. Doesn't allow me to do anything. Even the setting cog is greyed out not allowing me to do anything.

![screen shot 2017-12-06 at 9 43 47 pm](https://user-images.github

[2017-12-07 06:46] hungtcs commented on #447
Not work for me too.

![image](https://user-images.githubusercontent.com/11692935/33702138-44bc4fec-db5d-11e7-98ce-cbb8e7a31b72.png)

Nextcloud 12.0.3

[2017-12-07 09:26] skjnldsv commented on #447
Please clear your cache and try again :)

[2017-12-07 13:55] jprangenbergde commented on #447
I have the same problem. Endless spinner on contacts-page.

Browser-Console:
![grafik](https://user-images.githubusercontent.com/5179743/33718716-b11807ca-db5e-11e7-9d9a-7b5079816697.png)

[2017-12-07 15:23] ryanerickson commented on #447
@skjnldsv I should have added more before, I was in a hurry getting the kids to bed... I've cleared my cache on three browsers on my Mac, IE on my Windows 10 work machine, and three browsers on my phone with the same results across the board.

[2017-12-07 16:44] #36 closed

[2017-12-07 16:45] skjnldsv commented on #447
@jprangenbergde @ryanerickson thanks for trying it before! :)
Are you using the official releases from the appstore?

[2017-12-07 16:55] ryanerickson commented on #447
@skjnldsv I am. I've downloaded (enabled) and disabled it several time from the appstore to no avail.

[2017-12-07 17:06] ryanerickson commented on #447
![screen shot 2017-12-07 at 12 02 24 pm](https://user-images.githubusercontent.com/704737/33727892-e940e2d8-db46-11e7-8f25-66b85554df1b.png)

For my nextcloud log, would you like the error log or the debug log?

[2017-12-07 17:13] skjnldsv commented on #447
@ryanerickson Error please :)

[2017-12-07 17:18] ryanerickson commented on #447
[error.txt](https://github.com/nextcloud/contacts/files/1539971/error.txt)

Here's the error.log.

[2017-12-07 17:34] jprangenbergde commented on #447
I have installed the contact-addon from the app-store. The error-log is empty.

[2017-12-07 18:12] skjnldsv commented on #447
This is very strange! 😕

[2017-12-07 21:57] irgendwie commented on #447
@ryanerickson As far as I can see, the IP address of your server comes from cloudflare - is it possible, that this workaround works for you: https://github.com/owncloud/contacts/issues/450#issuecomment-302037223?

[2017-12-07 22:54] ryanerickson commented on #447
@irgendwie Holy Crap! That was exactly the issue. Thank you so much for working with me @skjnldsv  and @irgendwie .

[2017-12-07 22:54] #447 closed

[2017-12-08 09:42] irgendwie commented on #447
@jprangenbergde Could it be the same for your Nextcloud instance?
@hungtcs Did clearing the cache help in your case? (Your issue is different then the Cloudflare workaround.)

[2017-12-08 09:54] jprangenbergde commented on #447
@irgendwie I'm using cloudflare - disable minify works for me.

[2017-12-09 23:45] michaelof commented on #444
Same on NC 12.0.4

FF 52.5 ESR,
OpenSuse Leap 42.3

[2017-12-10 07:30] brjhaverkamp commented on #39
Hello, can you comment why this issue is closed?

Today I started my christmas card address list. I have a group for that in Nextcloud and it seems it is still not possible to download that group seperately. I now have to download my whole addressbook and script a filter.

[2017-12-10 09:15] skjnldsv commented on #39
@brjhaverkamp this issue is not closed! :)

[2017-12-11 17:11] jancborchardt opened #448 "Navigation toggle and back button not shown on mobile anymore"
Previously we had the hamburger menu button on the top left so you can toggle the sidebar. And when the contact detail view is open, we had a back button. This is not there anymore, maybe due to some JS change? Because we insert `app-navigation-toggle` into `app-content`.

cc @nextcloud/contacts @nextcloud/javascript

[2017-12-11 17:12] skjnldsv commented on #448
I will fix it on #438

[2017-12-11 17:13] jancborchardt commented on #421
Yeah, I’d say that’s ok regarding that you delete the whole contact. In the contact detail element it should be even inside a 3-dot menu with other items rather than directly visible. It should definitely not be directly in the list of contacts (at most inside a 3-dot-menu).

[2017-12-12 09:54] blizzz opened #449 "Content Security Policy: The page’s settings blocked the loading of a resource at self"
### Steps to reproduce
1. Have NC git master running (local via subdirectory) and Contacts master
2. Go to Contacts app
3. Create a new contact
4. Edit the name
5. Refresh

### Expected behaviour

The new contact should have the entered name

### Actual behaviour

* The name is "New Contact" again
* No request to the server is fired
* Instead, a CSP error appears telling that loading a resource wa

[2017-12-12 13:01] barthel-eu commented on #212
From https://nextcloud.com/sharing/
"Sharing is who we are. At work, we share and collaborate with colleagues to get work done. At home, we share our good and our bad moments with family and friends. With Nextcloud, sharing is a core part of your experience."
Unfortunately we are forced to share either the whole address book or nothing. That ... is unrealistic. Reality is that we human beings shar

[2017-12-12 13:52] jeromelebleu commented on #433
I have also the same issue - same behavior and JavaScript error and trace from the console. I'm running the last version of the app (2.0.1) and using Firefox ESR 52.5.0.

As pointed by @jgillich, I tried to comment [this line](https://github.com/nextcloud/contacts/blob/v2.0.1/js/components/contactImport/contactImport_directive.js#L41) which resolves this *loading freeze* and also the error from th

[2017-12-12 13:53] jancborchardt commented on #212
@schiessle could you comment here regarding sharing feasibility?

[2017-12-12 13:53] jancborchardt commented on #212
@schiessle could you comment here regarding sharing feasibility?

[2017-12-12 13:55] rullzer commented on #212
Just a comment here. Files sharing and DAV (so calendar/contacts) sharing are completely distinct.

[2017-12-12 14:43] jancborchardt commented on #212
@rullzer @schiessle yes – however, could we maybe help come up with a way to handle this? :)

[2017-12-12 15:29] skjnldsv commented on #212
@barthel-eu The issue here is based on the vcard specification. Groups are written there. A group is not an entity on the nextcloud server. What you request is basically like sharing a "birthday" where every contact having the same birthday would be shared to the user you want. It's also unrealistic.

We could on the other hand create and map vcard to a group entity on the nextcloud instance, but

[2017-12-12 15:57] barthel-eu commented on #212
@skjnldsv The issue is that "sharing" is what Nextcloud claims, but does not deliver. As a user, I do not "know" how it can be done, I was looking for the answer to that, seen it in groupware. I just think this is a prime sample what Nextcloud claims to do: Sharing. But does not deliver (yet) upon? Not in regards to sharing contacts.

[2017-12-13 16:14] qm2k opened #450 "CSS URL does not honour overwritewebroot"
I'm using Nextcloud 12 behind Apache-based reverse proxy. I want it to be accessible at `https://cloud.example.com/nextcloud/`. It mostly works, *but*: the Contacts app loads its CSS from `/index.php/css/contacts/...`, not from `/nextcloud/index.php/css/contacts/...`. It starts working if redirect is placed from `/index.php/css/contacts/...` to `/nextcloud/index.php/css/contacts/...`.

### Steps t

[2017-12-13 16:18] MariusBluem opened #451 "Contacts ⭐️ does not work"
I think @skjnldsv introduced a ⭐️ into the contacts which should not be there, since it is not working.
Maybe we want to add something like that in a later version, but for now - it is a non-woking element and should be removed.

<img width="209" alt="bildschirmfoto 2017-12-13 um 17 14 48" src="https://user-images.githubusercontent.com/19711361/33949195-397943f8-e029-11e7-98b1-7c945dac2726.png">
<

[2017-12-13 16:51] skjnldsv commented on #451
It is removed on the stable13 pr.
Closing as invalid.

[2017-12-13 16:52] #451 closed

[2017-12-13 17:07] MariusBluem commented on #451
Thx.

[2017-12-14 13:23] dhowe opened #452 "Can't add new contact"
### Steps to reproduce
1. Create new contact
2. Contact can be found only by search
3. Does not show up in contact list to left
4. Error in log:

[code]

### Expected behaviour
Contact should be added and visible in list (and search)

### Actual behaviour
Contact can be found only by search. Does not show up in contact list to left.

## Server configuration detail

**Operating system:** Linux 4.4.

[2017-12-15 02:56] dhowe commented on #445
+1 for real number option

[2017-12-15 06:51] skjnldsv commented on #445
@jancborchardt

[2017-12-15 13:58] jancborchardt commented on #445
Yes, let's show the full number here.

(The 999+ was taken over from the News app for unread items where exactness is not that important.)

[2017-12-15 20:55] skjnldsv commented on #445
@jancborchardt actually it's coming from the design guidelines (not written from me)

[2017-12-15 21:45] jancborchardt commented on #445
Yeah, that part was written based on what we learnt from the News app. :) That app is what we developed the whole #app-navigation structure from, back in the day. ;)

However, stuff changes or is different across apps – here for Contacts we should show the exact number. :)

[2017-12-17 03:59] skjnldsv commented on #450
It should be a server problem. Can you try with another app that also uses scss? Like mail?

[2017-12-17 08:17] qm2k commented on #450
Yes, you're right: same problem with mail.

[2017-12-17 09:49] tacruc commented on #158
I think multiple gpg key's would be a nice feature. They don't have to correspond to email addresses.
There can be multiple key's for one email and multiple emails per key. So I don't think we should limit this just upload on or more key's for the Kontakt. Maby add an option to mark a default key if multiple key's are added.
I think having a look on https://github.com/nextcloud/server/issues/7310

[2017-12-17 16:25] skjnldsv commented on #450
Closing then :)

[2017-12-17 16:25] #450 closed

[2017-12-17 16:27] tacruc commented on #158
I think multiple gpg key's would be a nice feature. They don't have to correspond to email addresses.
There can be multiple key's for one email and multiple emails per key. So I don't think we should limit this just upload on or more key's for the Kontakt. Maby add an option to mark a default key if multiple key's are added.
I think having a look on https://github.com/nextcloud/server/issues/7310

[2017-12-19 13:17] nursoda opened #453 "NC13b3 regression: big vertical spaces in left column"
### Steps to reproduce
1. Upgrade to Nextcloud 13 (b3 in my case)
2. Open Contacts app
3. Group chooser / Left column is no longer neatly formatted

### Expected behaviour
Should look nicely, as it did in NC 12.
### Actual behaviour
Large vertical spaces between lines:
![grafik](https://user-images.githubusercontent.com/8425483/34159525-e202f09c-e4c9-11e7-9ca7-3398fee41021.png)

### Server configu

[2017-12-19 13:18] nursoda commented on #453
Might this (and other issues I encounter) be caused by an over-protective cross-site policy? Reason is the browser JS and the web server error log entries above, possibly caused by not honoring "Alternative DNS names" within the webserver TLS certificate?

[2017-12-19 13:34] nursoda commented on #453
Similar issue in calendar, too: https://github.com/nextcloud/calendar/issues/666

[2017-12-19 15:10] olantrust commented on #27
Please change the title of this to: Ability to have custom labels
As #303 already deals with custom fields, and to make it clearer what this issue is about.
Thanks @skjnldsv @ionl

[2017-12-19 15:13] olantrust commented on #303
Can we remove the needsinfo label now, or is there anything else we can clarify? It's not clear what information is still needed. Thanks
@skjnldsv @jancborchardt

[2017-12-19 16:40] skjnldsv commented on #453
Thanks!
@nursoda can you try with latest nightlies? :)

[2017-12-19 18:11] nursoda commented on #453
Sure, but how? Please step by step, like Download ZIP from github master branch, copy to server, unpack, chmod -R 640?

[2017-12-19 18:18] skjnldsv commented on #453
Download zip from https://nightly.portknox.net/contacts/?C=M;O=D
Extract content with your http user
should be fine then

[2017-12-19 22:29] nursoda commented on #453
No, definitely not. What I get is worse:
![grafik](https://user-images.githubusercontent.com/8425483/34181867-3f9373c2-e514-11e7-9f80-8abf4b542d1b.png)
The red dot is where my cursor is, and the bar on the left changes with the cursor position - and seems to have the right height, yet white on white ;-)

... and it seems most contact pics are not loaded or WAY slower that with 2.0.1

[2017-12-21 11:21] tacruc commented on #158
I have created a WIP branch if somebody wants to take a look. But it is depending on my server Branch. More Information in nextcloud/server#7310.

(WIP branches https://github.com/tacruc/server/tree/GPG-Contacts, https://github.com/tacruc/contacts/tree/GPG-Pubkey)

[2017-12-21 13:02] gerbsen commented on #212
Would it be possible to share individual contacts or groups with circles from this app: https://github.com/nextcloud/circles ?

[2017-12-23 21:20] gubagu commented on #433
Same here
Contact import broken under latest Chrome, FF and Edge
Versions:
Nextcloud 12.0.3
Contacts 2.0.1
@jeromelebleu I doubt anyone could import contacts from vcf file.
Any development around this issue ?

[2017-12-25 19:42] kelmas commented on #444
I can confirm the issue.

[2017-12-26 23:51] tessus opened #454 "Feature Request: LDAP Connector"
I was wondering how complicated it might be to create an LDAP connector, so that one can use the information from the contacts app in clients that allow the use of an LDAP server for looking up addresses.

The Base DN and Bind DN could be hard coded or virtual values. The contacts app could provide a server instance on a separate port to serve LDAP requests (while translating the requests and resp

[2017-12-28 15:46] fapsi commented on #444
I can confirm this issue too.
But I found a possible workaround: After typing the group-name you can press "TAB" and the group is created without the string " (new group)".

[2017-12-28 19:41] michaelof commented on #444
thanks for the cool workaround, fapsi!

[2018-01-04 18:07] ppaeps commented on #434
Adding a data point: I'm also seeing this with nginx, nextcloud-12.0.4 and macOS 10.13.2.

There seems to be a strong correlation between the PUT errors in the nginx log and "invalid sync token" errors in the nextcloud logs.  Any idea on how to debug this further?

[2018-01-04 23:04] klawdhfzasjhaa commented on #290
Hello. I tested some scenarios..
I cannot test from the webapp, because of another bug (#433), but when I create a contact on my phone (Android 7.1.2 from LineageOS) and export it via vCard, I get the following result *.vCards:
Local Contact (custom type WITHOUT spaces):
`BEGIN:VCARD
VERSION:2.1
N:;JohnDoe;;;
FN:JohnDoe
TEL;X-MyTestType:955-856-55
END:VCARD`

Local Contact (custom type WITH spaces

[2018-01-04 23:30] klawdhfzasjhaa commented on #146
Maybe a validate method / tool tip can be added to tell the user the expected format? "Please use YYYY-MM-DD format" or something else. At least as long as the language specific input is implemented.

The problem now is, that you can fill in "01.02.1978" and it will also be shown in the contact's details in the NC contacts app. But it will not be synced down to Android correctly / is not interpret

[2018-01-05 11:01] ppaeps commented on #434
@skjnldsv:

I've done a little bit more testing and it does indeed seem to be related to editing (or even deleting) contacts.

If I delete the CardDAV account and add it again, it will happily synchronise without any 412 errors as far as I can see.  Every sync seems to result in logs like this:

[code]

As soon as I edit a contact though, the 412 PUT errors as reported above start appearing.  It a

[2018-01-05 21:49] skjnldsv commented on #434
@ppaeps can you post a screen of your network debug tab opened when editing contacts pls? Be sure to include the first contact edit request :)
Thx

[2018-01-06 09:48] ppaeps commented on #434
@skjnldsv:

Thx

I'm not sure what you mean with "network debug tab".  Do you mean tcpdump?

[2018-01-06 15:59] hostingnuggets commented on #434
@ppaeps I think @skjnldsv means the "network" tab in your browser's web developer toolbar where you can view/debug all HTTP requests.

[2018-01-06 16:04] ppaeps commented on #434
On 2018-01-06 07:59:33 (-0800), Hosting Nuggets wrote:

I'm not doing anything in a browser though.

I'm using macOS Contacts.app.  As soon as I try to edit a contact there, I see `412 PUT` errors start to appear in my logs as reported in this thread.  I have never used the browser interface for anything related to contacts or CardDAV.

My browser can't see the HTTP traffic from Contacts.app but t

[2018-01-06 17:30] hostingnuggets commented on #434
Right yes this is from the MacOS contacts app of course, so we'll have to wait for @skjnldsv to answer in order to clarify what he really means with network tab.

[2018-01-07 02:43] skjnldsv commented on #434
Ooooooh, but this changes everything! 😂
If you're not using the contacts app, this is then a server issue! :)

[2018-01-07 09:10] ppaeps commented on #434
@skjnldsv:

Yeah ... apologies if that wasn't clear.

Is this the wrong bugtracker for server issues?  Where should those be filed?  Thanks.

[2018-01-07 14:07] skjnldsv commented on #434
No problem!
Into https://github.com/nextcloud/server. Please search your issue before to not create duplicates! :)

[2018-01-09 13:42] pinq- commented on #433
Same here...
I got 76 out of 92 importet in when I edit the vcf. I replace all the  VERSION:2.1 wtih VERSION:3.0. It works, but you can't import contacts how have ä, ö or å on their name.

[2018-01-09 13:59] skjnldsv commented on #433
@pinq- what error do you have in the console then?

[2018-01-09 14:09] pinq- commented on #433
@skjnldsv When I try to import regular file( 2.1) then the waiting  spinner starts to spin and I get these errors in console:
Error: [$rootScope:inprog] $apply already in progress
http://errors.angularjs.org/1.5.8/$rootScope/inprog?p0=%24apply

When I try to import modified file the I get these erros in tin the top of the screen "Could not create contact information."( in finnish). No errors in co

[2018-01-09 14:36] pard68 commented on #433
Opened my .vcf file with VIM and did a find & replace all, changing all VERSION:2.1 to VERSION:3.0
Successfully updated all files.

If you're hanging at a certain percent I bet the uploader is hitting a contact that is version >3.0

[2018-01-09 14:37] skjnldsv commented on #433
Then an error is supposed to be displayed. It should not hang.

[2018-01-09 14:40] pard68 commented on #433
Ah, I never had the error display. It would hang at whichever contact wasn't >=3.0. But after replacing all with 3.0 it ceases to hang. I never checked the console though, so if it only displays in the console that would be why I never saw an error.

[2018-01-09 15:05] pinq- opened #456 "No "remove double", "remove all" or "Select contacts" option"
### Steps to reproduce
1. Have many double contacts
2. Have to remove them one by one
3. Can't remove all and import then again

### Expected behaviour
Have future called "remove doubles", "Remove all" or select certain contacts and remove them.

### Actual behaviour
have to remove contacts one by one.

### Server configuration

**Operating system**:Debian GNU/Linux 8

**Web server:**dunno

**Data

[2018-01-09 16:20] skjnldsv commented on #456
This is a duplicate of multiple issues:
Select multiple contacts: #277
And merge duplicates: #70

[2018-01-09 16:20] #456 closed

[2018-01-11 05:29] snowbolzer commented on #399
Have the same issue with macOS Sierra and nextcloud 12.0.4 . Don´t know if the Problem existet in former Versions. Just createt 2 new Adressbooks yesterday.

Screenshot from NC
![ncshot](https://user-images.githubusercontent.com/35323201/34809834-f807d422-f697-11e7-8c55-b538cb17b061.jpg)

Screenshot from IOS 11.2.2 Contacts
![img_5574](https://user-images.githubusercontent.com/35323201/34809853-23

[2018-01-11 05:46] snowbolzer commented on #399
same Problem with my MacBook running OSX Lion

[2018-01-11 09:38] #448 closed

[2018-01-11 12:39] snowbolzer commented on #399
‭i use this carddav link:

https://mydomain/remote.php/dav/principals/users/USER/

[2018-01-11 13:03] hostingnuggets commented on #434
We have the same problem with now more and people using this precise version AddressBook/1806 of the Mac OS X Contacts app with the effect that the server gets slower and slower the more people are using it. Can Nextcloud address this issue asap? It is a real problem performance and might even be used as DoS to make the whole Nextcloud unresponsive.

[2018-01-11 13:27] skjnldsv commented on #434
@hostingnuggets same here! If you're not using the netcloud contacts application, please create an issue on the server repository. :)

[2018-01-11 13:39] CamZie commented on #434
I have now opened the same issue on the nextcloud/server repository: https://github.com/nextcloud/server/issues/7793

[2018-01-11 16:52] #434 closed

[2018-01-13 21:22] onny commented on #453
For me this issue also persists with the latest Nextcloud Beta and contacts app git master

[2018-01-14 04:17] skjnldsv commented on #453
Fixed with #438

[2018-01-18 10:01] blind-coder opened #458 "First Name and Last Name do not get populated when only a Formatted Name is entered"
### Steps to reproduce
1. Create new contact with only a Formatted Name

### Expected behaviour
First Name and Last Name should be populated by splitting the Formatted Name

### Actual behaviour
First Name and Last Name are not populated.

### Server configuration

**Operating system**: Debian Linux

**Web server:** Apache

**Database:** MySQL

**PHP version:** PHP 7.0.27-0+deb9u1 (cli) (built: Ja

[2018-01-18 13:43] Kiko-Rufa opened #459 "Show addressbooks individually; not aggregated"
### Steps to reproduce
1. Activate Contacts App
2. Verify that it shows all contacts from multiple address books
3. No button / choice available to show a single address book

### Expected behaviour
I would like to limit my view in the contacts app to only one of my address books

### Actual behaviour
I see all contacts from all addressbooks, which, in my case, involves many necessary duplicates

[2018-01-18 13:45] skjnldsv commented on #459
This is already implemented in the next version :)

[2018-01-18 13:45] #459 closed

[2018-01-18 16:10] Kiko-Rufa commented on #459
That's the nicest possible reaction! Great and thanks!!
Kiko

[2018-01-19 22:14] onny commented on #453
I tried the current git master and this issue is still present for me

[2018-01-19 22:47] fritteli commented on #449
I'm seeing the exact same error with Nextcloud 12.0.4.

## Server configuration

**Operating system:** Gentoo Linux

**Web server:** Apache 2.4.27

**Database:** MySQL

**PHP version:** 7.1.13

**Nextcloud version:** 12.0.4

**Contacts version:** 2.0.1

**Updated from an older Nextcloud or fresh install:** Migrated from ownCloud 9.1.6

## List of activated apps:

[code]
## Nextcloud configuration:

[2018-01-20 07:27] skjnldsv commented on #449
This error is not related to a contact edit failure. I have it and everything works on my instance :)

[2018-01-21 09:06] Jas2Ma commented on #296
Add nextcloud activity events for contacts, so deletion of a contact can be recognized by other users of the address book.

[2018-01-22 21:27] xenithorb commented on #135
Still busted. It happened after I added an Anniversary to a contact on my phone and sync'd. Notably, nextcloud's calendar app does not display the anniversary data, however if I download the contact from within nextcloud, the data is in the Vcard file.

[code]

Added from Android / LineageOS from contacts v `1.4.22`

It would appear, in fact, that any contact that has pre-existing Anniversary data

[2018-01-22 21:30] xenithorb commented on #135
@skjnldsv can you possibly re-triage this? This is not a simple benign Etag header message. The error is probably deeper than this and is simply causing that message to bubble up.

[2018-01-22 21:57] xenithorb commented on #257
Is it live yet? I noticed this happens to any of my contacts that have data that doesn't display in the contacts app, case in point what I wrote here about anniversary data:  https://github.com/nextcloud/contacts/issues/135#issuecomment-359570564

[2018-01-22 22:34] cmburg opened #461 "No import of contacts with umlauts / UnsupportedMediaType"
### Steps to reproduce
1. create an arbitrary vcf, e.g. test.vcf (in my case it's a sanitised android export)
BEGIN:VCARD
VERSION:3.0
N;CHARSET=UTF-8;ENCODING=QUOTED-PRINTABLE:=C3=96=64=65;=C3=96=6D=C3=BC=72;;;
FN;CHARSET=UTF-8;ENCODING=QUOTED-PRINTABLE:=C3=96=6D=C3=BC=72=20=C3=96=64=65
TEL;CELL:+491741234567890
END:VCARD

2. In NC import above vcf
3. You'll get the error that the contact could no

[2018-01-23 06:58] skjnldsv commented on #257
@xenithorb not released, you can try the nightlies if you want tough

[2018-01-23 11:21] jancborchardt commented on #437
Instead of adding a button, copying should simply be possible. For example by not using read-only input fields, but rather plain text which can be copied.

[2018-01-23 22:59] DanLeonelli opened #462 "Contact could not be saved"
### Steps to reproduce
1. Create new contact
2. Add more than 5 fields
3. Try with notes/anniversary/adding photo

### Expected behaviour
Contact saved

### Actual behaviour
Error: "Contact could not be saved"

### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**Nextcloud version:** (see Nextcloud admin page) 12.0.4

**Contacts version:** (see Nextc

[2018-01-24 09:32] skjnldsv commented on #462
We'll need the console log of your browser please :)

[2018-01-25 10:47] mjohenneken opened #463 "Contacts with same name are selected incorrect in list"
### Steps to reproduce
1. Create two contacts with the same name
2. Make sure the contacts list is sorted by name
3. Select the upper one of the created contacts

### Expected behaviour
The contact on which i clicked is selected, and show in the detail

### Actual behaviour
The contact below is selected, but the detail show the information of the upper contact
Also you cannot select the other one

[2018-01-27 09:05] skjnldsv commented on #437
@jancborchardt we went for that before, but decided to roll back because creating too many templates to edit and basically an unorganized structure in the contacts app. :/

[2018-01-27 12:55] onny commented on #453
In Chromium, the stylesheet looks better but the contact list is still way too small :(
![2018-01-27-135103_swaygrab](https://user-images.githubusercontent.com/757752/35472137-b625cb48-0369-11e8-830a-7dc6a1d8ecb4.png)

[2018-01-27 14:16] Loki3000 commented on #212
Think that solution could be easy way to move contact between addressbooks. Now we can't create contact and share it. But if would be possible to move contact in another addressbook, then we can share it's another addressook.
What you think?

[2018-01-30 13:00] jancborchardt commented on #437
@skjnldsv right. Is there a different way though to do this which makes copying possible? Like instead of the template switch inserting the "readonly" attribute, it could be used to decide if there's an input field around it at all.

[2018-01-30 20:58] barthel-eu commented on #212
@gerbsen - circles is like a mailing list tool, where you register "users", they can maintain their data themselves. But we talk about address book. My address book contains +400 entries, of which the majority are business contacts I want to share with other NextCloud users on our NextCloud installation.
NONE of those users wants to maintain a foreign NextCloud profile. You don't want to contact 3

[2018-01-31 11:07] Dtrieb commented on #146
Perhaps this help you to easy handle it: https://github.com/globalizejs/globalize

[2018-01-31 21:27] skjnldsv commented on #437
We could go for a editable element, but we need to check if it's possible

[2018-02-01 12:45] ghost opened #464 "Feature Request: Select several Phone numbers - add/edit country codes"
### Steps to reproduce
1. Go to contacts
2. Search for any number starting with an area code (e.g. 030)

### Expected behaviour
select all results that came up in the search and mass-edit them to have a leading country code (e.g. +49)

e.g.
030 1234567 and
030 2345678 would be turned into
+49 30 1234567 and
+49 30 2345678

a bonus feature would be to convert the lengthy country codes (e.g. 0049) a

[2018-02-03 09:06] spantaleev commented on #413
My investigation shows that there's no need to fix anything on the PHP side.
vCards with an empty name value are accepted there.

The problem with importing contacts with an empty name is only during pre-processing, using the [vcard-parser](https://www.npmjs.com/package/vcard-parser) JS library. The library parses the vCards correctly and then generates them all over again, for sending to Nextclou

[2018-02-03 09:31] spantaleev opened #465 "Introduce some import throttling"
### Steps to reproduce
1. Import a vCard file `.vcf` with many vCard entries in it.
2. To import each vCard entry, Nextcloud Contacts would spawn a separate HTTP `PUT` request to the server (at the same time as all the others)
3. The server is likely to get overwhelmed by having too much to do or it may start throttling you by responding with HTTP errors. In both these cases, persisting the contac

[2018-02-03 14:00] ghost opened #466 "Contact fields not showing properly in Chrome and Opera"
### Steps to reproduce
1. Activate contacts and create some contacts with address, email, birthday and gender information, assigning them to (different) groups
2. Reload/Navigate to the contacts page
3. Click on a contact - fields are not shown fully or information is left out completely

Chrome version: see server config info
Opera version: 50.0.2762.67 (PGO)

### Expected behaviour
Opening the c

[2018-02-04 19:07] nursoda opened #468 "SVG not encoded or rendered correctly"
I use latest Nextcloud 13 beta 4 and the corresponding contacts app release 2.0.1.

I created a test contact with minimal properties and added an SVG 'photo'.
This SVG is not displayed in Thunderbird CardBook.

So I created a test contact with minimal properties in CardBook and added the same SVG as 'photo'.
This SVG is displayed as "broken image" in the Contacts app, in Firefox:
![grafik](https:/

[2018-02-04 21:15] alexanderdd commented on #272
Sort by date created would actually be very helpful, also in a business context where you could see new customers at the top.

[2018-02-06 00:21] alexsalex commented on #166
+1

[2018-02-06 11:09] Loki3000 opened #469 "Wrong group list display"
### Steps to reproduce
1. Create several groups

### Expected behaviour
Expected looks like that:
![contacts2](https://user-images.githubusercontent.com/12333165/35856488-39ecebca-0b47-11e8-936b-0ac253b35481.png)

### Actual behaviour
![contacts1](https://user-images.githubusercontent.com/12333165/35856494-3f586cc4-0b47-11e8-81e0-8da7ad0c90f3.png)

## Server configuration detail

**Operating syste

[2018-02-06 16:04] nursoda commented on #453
If you redesign the left pane, please consider sorting it, too.
As seen in last Screenshot, its unsortet, order there: F O W S U F K.

[2018-02-09 10:10] Loki3000 opened #470 "Add easy way to move contacts between addressbooks"
It's a good idea to share contacts groups between users but, as I see, cardDAV not support shared groups - only shared addressbooks. So as a solution I see two addressbooks - private and shared. But now there is no way to quick move contact between adressbooks: if I want to share private contact, I can't move it in shared addressbook - only create new one. Maybe it's good solution to add possibili

[2018-02-09 10:56] private-nc-user commented on #469
Maybe the same as in #453
I have the same behaviour. In Chrome it looks good, in Firefox it seems there is a line break?

[2018-02-09 11:27] Loki3000 commented on #469
Yes, it's same. As I see, the problem is in this code:
[code]
but I'm not sure  that it's could be harmless delete.

[2018-02-09 17:51] #469 closed

[2018-02-10 07:38] ali3seven opened #472 "Everyone Group missing for Global Address Book user access and update"
Hi. First of all Thanks for your very good product.
I'm using NextCloud 12.05 by using MailInABox boundle. Everything works fine.
However I'm afraid that there was only one feature missing (Or maybe I couldn't find).
I was wondering if there is any guide about that too.
But let me explain it here (According to template):

### Expected behaviour:
What actually needed is a "**Global Address Book**".

[2018-02-10 08:10] skjnldsv commented on #472
Actually, this is easily doable. You can create a group where all your users are and directly share an addressbook with that group.
I see your point, but I don't really like the idea of proposing that feature in-the-box. :)
I would prefer if people use the solution I gave here! ;)

@jancborchardt @Henni thoughts?

[2018-02-10 08:12] skjnldsv commented on #470
You can change the addressbook at the end of the contact details if that's what you were looking for? :)

[2018-02-10 08:41] Loki3000 commented on #470
Exactly! It's field was hidden while only one addressbook;)

[2018-02-10 08:41] #470 closed

[2018-02-10 12:28] ali3seven commented on #472
@skjnldsv John, Thanks very much for reply, but I'm afraid that it can do easily. Let me know about your idea if I was in wrong. That is what I found out from the reply:

Yes, I can do it once at the first time. It means I created one list and add all of "Current user" in that. It is OK and fully acceptable. But how should we do for **new user** that come? Does them included in the list Automatica

[2018-02-10 18:29] ali3seven commented on #472
Well, I tried it. It seems creating group for user sound good idea. It can prevent a lot of work to share.
So only the "**contact list**" is required to shared for "**group**".
as it shown **List** refer to _Contact_ and **Group** refer to _Users_ here.
It's almost perfect if you have some fix and static contacts.

but consider dynamic environment,
I think if we can share the list with "**No Group

[2018-02-11 16:39] Benestar commented on #444
This is actually a bug in angular-ui. https://github.com/angular-ui/ui-select/issues/1806

Apparently there is already a fix for this which is awaiting review since 9 months... https://github.com/angular-ui/ui-select/pull/1943

The quick 'n dirty fix would be to add something like `.replace(' (new group)', '')` in the right place.

[2018-02-11 19:01] moso commented on #433
Changing the `VERSION:2.1` to `VERSION:3.0` does solve the hanging issue for me. However, contacts with photos doesn't get imported, and Nextcloud displays "Contact could not be created".

I don't know if this has to do with the fact that photos are stored as base64 and the Contacts app is unable to read those during the import?

[2018-02-12 07:14] thfree opened #473 "Hide Birthdays "Enable disable addressbooks""
Раз вы добавили "Enable disable addressbooks", то может стоит реализовать возможно скрыть дни рожения отключенных контактов из календаря?

Спасибо.

-------------------
Once you added "Enable disable address books," then maybe it's worthwhile to realize it's possible to hide the birthdays of disconnected contacts from the calendar?

Thank you.

[2018-02-12 09:04] skjnldsv commented on #473
Could you open this on the server issue repository please? :)
Calendar address books are generated there!

Thank you very much! :)

[2018-02-12 09:04] #473 closed

[2018-02-12 10:16] exploide opened #474 "Group list broken since v2.1.0"
Since the update to v2.1.0, the group list on the left side is broken. It shows the JSON of the group instead.

### Steps to reproduce
1. Update to v2.1.0
2. open Contacts app
3. see that the group list is broken

### Expected behaviour
I would like to see a human readable list of my groups :P

### Actual behaviour
I see entries like `{"name":"My Group","count":8}` instead.

### Server configurati

[2018-02-12 13:19] Henni commented on #474
I can't reproduce this
@skjnldsv can you?

[2018-02-12 13:25] skjnldsv commented on #474
@Henni I can't! :/
@exploide Can you uninstall the contacts app, and remove it? Then install it again?

[2018-02-12 13:50] exploide commented on #474
Apparently, the issue occurs only with Firefox, it works well with Chromium.

I disabled the app and removed if afterwards using the webinterface. `ls` on `apps/` dir confirmed it was gone. Reinstalled again also using the webinterface. Issue persists.

[2018-02-12 13:58] skjnldsv commented on #474
Working on latest firefox! :/
@exploide could it be an extension that is breaking the app?

[2018-02-12 14:06] mars24568 opened #475 "Contact List and Group List not working after update to 2.1.0"
After update to 2.1.0 the group list vanished completely, the contact list contains all entries, but none of those is selectable. This might be related to entry #474
Removing the contacts app and re-installing does not change the behaviour.

### Steps to reproduce
1. Update to 2.1.0
2. open Contacts app
3. group list is not visible, contact list entries are visible, but not selectable

### Expecte

[2018-02-12 14:08] exploide commented on #474
Well that's strange...
You mean a Firefox extension? I also thought of this but even when restarting Firefox in safe-mode, which disables all extensions, the issue is present.

As I mentioned in the opening post, the dev console logs:
[code]

Anything else I can do to help?

[2018-02-12 14:09] skjnldsv commented on #474
What ff version are you using?
Yes, I was thinking about a firefox ext! :)

[2018-02-12 14:11] #475 closed

[2018-02-12 14:11] exploide commented on #474
Ok, after testing this with manually disabling extensions as well as using the safe-mode, I can rule out an extension issue.

As stated in the opening post, I'm using Firefox 58.0.1 on Fedora 27.

[2018-02-12 14:17] mars24568 commented on #475
Ok. If anybody is interested: Everything works ok after setting Firefox to private mode.

[2018-02-12 14:18] skjnldsv commented on #474
@exploide Still can't reproduce. 😕

[2018-02-12 14:19] skjnldsv commented on #474
@exploide did you cleared your cache?

[2018-02-12 14:19] skjnldsv commented on #475
@mars24568 don't apologise! :)
Thanks for reporting the issue, you can follow it here: #474

[2018-02-12 14:24] exploide commented on #474
Mh, in fact you are right. I force-reloaded the page dozen times with ctrl+F5 but it did not help. Now with the forget about this site feature in Firefox it looks as expected. Don't know what exactly was still cached there... But thanks anyway.

[2018-02-12 14:26] skjnldsv commented on #474
This is very strange since we added a fallback for such scenario NOT to appear.
@Henni could it be that html templates are cached? Js?

[2018-02-12 14:35] #474 closed

[2018-02-12 14:40] tony5 commented on #474
it is a browser caching issue. ctrl+f5 is not enough to clear it.

[2018-02-12 14:41] Henni commented on #474
hm... no idea which resource broke this... Possibly the change regarding contactFilters I did...

We could implement a way that forces the browser to reload our js by appending the version number as a querystring (`script.js?v=2.1.0) for future releases. Although this might prevent caching of the resource at all for some configurations. And this also only works if the main template wasn't cached..

[2018-02-12 14:44] skjnldsv commented on #474
@Henni Ah yes, I need to implement this into the server as well for js! :/
I'll see what I can do!

[2018-02-12 14:49] Henni commented on #474
No idea how other apps are currently solving this. Calendar doesn't do anything like querystring versioning as far as I can see...

[2018-02-12 14:51] onny commented on #453
Styling issue is still present with the latest release of contacts, version 2.1

[2018-02-12 14:52] tony5 commented on #474
in firefox under "privacy and security/cached web content" clear now button fixes the issue.
I hope that helps someone.
ctrl+f5 does not clear enough it looks like.

[2018-02-12 23:54] SimonTank opened #477 "Photo loaded only after full contact details fetched"
Since version 2.1.0 the contact list width is calculated wrong and the contact preview images are not loaded anymore.
![example](https://user-images.githubusercontent.com/1553610/36126063-1cb5a4b0-1057-11e8-9c45-dd82394ec27d.png)

Switching to another contact in list shortly shows the correct width of the list but all contact circles get shifted up.
List should have a fixed width and contact image

[2018-02-13 01:53] macemoneta commented on #477
Seeing the same on my Chromebook, Chrome 64.

[2018-02-13 04:32] skjnldsv commented on #477
List width is a duplicate of #453
Image are displayed on my setup. Can you clear your cache please? :)

[2018-02-13 04:35] skjnldsv commented on #466
Hello! :)
You can try narrowing your window side to only have a single column? IF the field is properly displayed, then this is indeed a duplicate of #56! :)

[2018-02-13 04:44] skjnldsv commented on #452
Download you contact, edit it with a text editor and remove the unwanted FN field :)

[2018-02-13 04:44] #452 closed

[2018-02-13 04:45] skjnldsv commented on #449
There is also this onloadedmetadata which needs to be removed.
The ondrop is related to the select2 lib
https://github.com/nextcloud/contacts/blob/master/templates/addressBook.html#L5

[2018-02-13 04:47] skjnldsv commented on #458
We can't predict how this will happen. What if the name is Dr XXX xxx ? Will this be split on the first space?
You need to populate it manually with the detailed name form :)

[2018-02-13 04:47] #458 closed

[2018-02-13 04:48] skjnldsv commented on #462
Bump?

[2018-02-13 04:48] skjnldsv commented on #463
Fixed int he last version iirc!

[2018-02-13 04:48] #463 closed

[2018-02-13 04:50] skjnldsv commented on #454
You should post this on server. This app is just a webdav contact editor, such a change should require a direct app from the server :)

[2018-02-13 04:50] #454 closed

[2018-02-13 04:51] skjnldsv commented on #432
@Henni is this still on?

[2018-02-13 04:52] skjnldsv commented on #431
The server needs to support it.

[2018-02-13 07:16] blind-coder commented on #458
While this may not violate specs, it is literally the opposite of what every other addressbook frontend, from ownCloud to Android and iOs, does. As a side note, while `N` does not NEED to be populated in a vcard, it `SHOULD` be. I wonder how many other clients this will break.

[2018-02-13 08:01] SimonTank commented on #477
Clearing the cache does not help, event tried with disabled cache and hardreload. Contact images only loads the image by clicking on a contact.
No errors appear in the debug console.

[2018-02-13 10:10] skjnldsv commented on #458
@blind-coder We're just following the rfc requirements here. FN is mandatory, N is not! :)
I, from my side, have no use of the N field, most of my contacts (maybe all) are only populated with the FN field. My android is pretty fine with it :)

I need to take a look at how android auto split it! It might be interesting

[2018-02-13 11:17] mburnicki commented on #458
Of course, if you have only a couple of contags with names like "Mom", "Dad", "Peter" it makes no big difference.

However, if you have a large number of contacts or even address books then it's most welcome if you can sort and display the entries by "last name, first name" so it's really helpful if the details are populated, too, and IMO it's good practice if the frontend software makes this as e

[2018-02-13 11:32] gorn commented on #444
It seems there is some effort to change it on the way https://github.com/angular-ui/ui-select/pull/1943

[2018-02-13 13:14] skjnldsv commented on #477
Do you have the same problem on every contacts? or only a few?
If so, can you post a vcf card here so we can test?

[2018-02-13 13:40] SimonTank commented on #477
![bildschirmfoto vom 2018-02-13 14-34-21](https://user-images.githubusercontent.com/1553610/36152402-4567c694-10cb-11e8-800a-68dfc668d73a.png)

I created a user called Max Mustermann in the Contacts app same problem. Stumbled over the group name Bug #444, not my day. The problem appears on all contacts. No exception.
[0719500f-fad6-4abc-897b-732173b4c949.vcf.gz](https://github.com/nextcloud/contac

[2018-02-13 13:53] skjnldsv commented on #477
Sooo, is it working for Max Mustermann after all?

[2018-02-13 14:05] skjnldsv commented on #458
This is why the FN field exists. Why would we break things by wrongly assign first and last name with same data?
We should not create our own rules here. The rfc rules are here for a reason! :)

[2018-02-13 14:32] mburnicki commented on #458
I think you misunderstood. I said that there are **special cases** like hotel names where it makes sense to set the "last name" field to the same as the "full name" in order to get a properly sorted list when the list is sorted by "last name, first name". Since these are special cases, I wouldn't expect from an app to be able to detect and handle this automatically.

However, if a contact editor a

[2018-02-13 15:21] skjnldsv commented on #458
I completely agree with you :)
I'm not saying this should not be done, but that right now we are providing it manually.

That's why I said :)

The rfc rules are saying that FN is required and used by default to be read as the "displayed name".
While the N field is only there to detail the correct name (like firs, last, surname, prefix, title...) That's why I said that using it to enter an hotel na

[2018-02-13 15:31] mnarwold commented on #477
Having the same issue after updating to NC13 and latest version of contacts. Tested on latest chrome and microsoft Edge

[2018-02-13 15:33] skjnldsv commented on #477
Can you try in incognito/private mode? I want to check something :)

[2018-02-13 15:43] mnarwold commented on #477
Tried in incognito and have the same problem. It initially loads with the
correct view as it is still bringing up details, but as soon as it finishes
loading the detail panel jumps left.

On Tue, Feb 13, 2018 at 4:33 PM, John Molakvoæ <notifications@github.com>
wrote:

[2018-02-13 15:45] skjnldsv commented on #477
@mnarwold OOoh, I thought you meant the image error.
The width error is known and to be addressed in #453  :)

[2018-02-13 15:50] mnarwold commented on #477
OK, Thanks, sorry I missed that in your comment above.

[2018-02-13 15:52] skjnldsv commented on #477
No worries! Thanks for reporting! :)

[2018-02-13 16:08] SimonTank commented on #477
@skjnldsv The image in the list only loads if you select a contact (Max Mustermann), and only for this one contact you selected. No images shown on initial list load.
Just tested it on a other instance of Nextcloud i have access to, its Nextcloud 12.0.5.3 with Contacts 2.1.0, same problem there.

[2018-02-13 16:14] skjnldsv commented on #477
Oooh, Okay, I understand better! Yes, this is because we introduced a specific loading to speed up the app. The photo is only loaded when the contact is clicked (though on 13, the shown contacts on the list gets preloaded). I'll suggest you upgrade to 13. :)

[2018-02-13 16:25] blind-coder commented on #458
The RFC states that `FN` MUST be present, while `N` SHOULD be present if the vcard follows X.520
FN: https://tools.ietf.org/html/rfc6350#section-6.2.1
N: https://tools.ietf.org/html/rfc6350#section-6.2.2

Insofar I agree with @skjnldsv that the behaviour is not wrong. Unexpected maybe, but not wrong.
I only noticed because in RCMCardDAV we use the absence of an N tag to infer `X-ABShowAs` behaviou

[2018-02-13 16:37] skjnldsv commented on #458
From android source code:
[code]

Basically it's automatically splitting with `String[] strings = phoneticName.split(" ", 3)`
https://android.googlesource.com/platform/packages/apps/ContactsCommon/+/5ade0bb/src/com/android/contacts/common/util/NameConverter.java#188

[2018-02-13 16:51] nursoda commented on #453
Not here: 2.1 solved it for me:
![grafik](https://user-images.githubusercontent.com/8425483/36162348-7bde8f80-10e6-11e8-9d3a-375844bfe32a.png)
However, the sorting issue remains.

[2018-02-13 16:53] SimonTank commented on #477
So the contacts app is not preloading any contact images for the list. Unless you click on a contact. And there is no way to show all images on load?
@skjnldsv I'm already using Nextcloud 13.0.0.14 as documented in the main issue comment.

[2018-02-13 16:55] skjnldsv commented on #453
@nursoda This happens on wide screens.

[2018-02-13 16:57] skjnldsv commented on #477
@SimonTank Sorry, I read too fast, your latest message stated 12.0.5.3 so I did not read further! 🙈
My apologies! :)

I misspoke, Indeed, the preloading of images is only done with full contact details load.

[2018-02-13 16:59] nursoda commented on #453
Hmmm, I have a screen resolution of 2440px wide and it does not happen here. In Firefox release, current. No matter how I resize the FX window.

[2018-02-13 18:53] Henni commented on #444
@Benestar `.replace(' (new group)', '')` might be an option, even though we have to respect translations here.

I doubt ui-select will fix this. It doesn't seem maintained anymore (old AngularJS slowly falling apart :frowning_face: )

[2018-02-13 18:55] skjnldsv commented on #444
@Henni the pr fix in the select repo has been updated all day. Maybe if we cross our fingers! 🙏

[2018-02-13 18:56] Henni commented on #453
@nursoda sorting is currently by amount of contacts in a group. I think we had a discussion about this before, but can't remember where.

@onny can you please make sure this isn't a caching issue?

[2018-02-13 19:02] skjnldsv commented on #453
I can reproduce @Henni This is a server side issue, but this is created by the column system we're using here (which push the flex to the maximum)
This will require a small fix from our side and then a fix for the server :)

[2018-02-13 19:23] Henni commented on #458
This feature has been on my mind since the initial release of the app.
The main issue why this was postponed multiple times, is that it is difficult to define the "usual case".
There are titles, multiple surnames, compound surnames... This combined with multiple languages is just awful to support. There are libraries like https://github.com/joshfraser/JavaScript-Name-Parser, but most of the librar

[2018-02-13 19:25] onny commented on #453
@Henni: Thanks for asking. Indeed it seems to be a caching issue. It is working better now in Firefox. One thing is still present, the avatars in the contact list are not correctly vertical aliged as seen in this old screenshot here (https://github.com/nextcloud/contacts/issues/453#issuecomment-359104441). But this only affects Firefox.

[2018-02-13 19:28] Henni commented on #453
@skjnldsv then please let us get rid of the column system.

@onny strange... the vertical misalignment flickers for me on firefox. Can you open a new issue for this?

[2018-02-13 19:33] Henni commented on #432
Tried fixing it a while ago. Didn't get very far...

[2018-02-13 19:53] onny commented on #453
Yep I can do this

[2018-02-13 21:23] onny opened #478 "Contact images "flicker" on latest Firefox"
### Steps to reproduce
1. Loading contacts app

### Expected behaviour
Vertical alignement of contact images should centered and no "flickering" should appear.

### Actual behaviour
Contact images odly move several times and are then unaligned to the top
![broken](https://user-images.githubusercontent.com/757752/36174264-205114aa-110c-11e8-943a-a0fde8ff22d7.gif)
This behaviour does not appear in C

[2018-02-13 21:58] timreeves opened #479 "Add new option to hide an address book's contacts without disabling the address book"
This issue results from dialog in [Enable/disable address books #412](https://github.com/nextcloud/contacts/pull/412).

The new option already implemented to disable an address book seems to do that on such a low level that it is then disabled per se - for all purposes. For this reason, it is not possible to disable an address book which has been shared with you rather than belonging to you.

In m

[2018-02-13 22:40] summerm78 opened #480 "Contacts not readable in Opera"
### Steps to reproduce
1. Upgrade to Contacts 2.1.0
2. Login and open Contacts

### Expected behaviour
Contactlist should be readable.

### Actual behaviour
Contactlist is resized to 3 characters

### Server configuration
**Operating system**:
Linux 3.10 (sorry, not more informations because it is a managed plattform)

**Web server:**
apche2

**Database:**
mysql 5.5.56

**PHP version:**
7.1.14

**

[2018-02-14 00:15] nursoda commented on #453
@Henni Sorting is off-topic here, but to answer: I don't recall a discussion, wasn't aware of "sort by no of contacts in group" which I realize now. One should be able to set how to sort. For many groups/categories, this is odd.

[2018-02-14 05:01] tessus commented on #454
Well, it's an app for contacts, and since contacts are often stored in LDAP...

I didn't see it as a CardDAV handler only, at least not until now. Why the server? The server can use LDAP for user authentication. While users and entries for addresses can live in the same LDAP, it doesn't mean that the contact organization should be a server thing. An LDAP connector definitely falls into the purview

[2018-02-14 07:08] skjnldsv commented on #454
Because dav is handled by the server. And if we want to create a specific address book generated by ldap, this needs to come from server, or better, the ldap connector app! :)

[2018-02-14 07:08] skjnldsv commented on #480
Duplicate of #453

[2018-02-14 07:08] #480 closed

[2018-02-14 07:10] skjnldsv commented on #478
You need to clear your Firefox cache.
Use the "forget all about this site" feature :)

@Henni this does confirm that html templates are being cached by the browsers. :/

[2018-02-14 07:27] tessus commented on #454
Ah, I see. Since the contacts app gives you the webdav address I originally thought that the app is providing that interface. My bad.

Right, so who's up for writing an LDAP connector app. ;-)

But seriously, wouldn't you say that this would be a nice addition to the nextcloud family?

[2018-02-14 07:34] skjnldsv commented on #454
@tessus It could be useful for other people yes :)
There is a discussion about providing a user addressbook from the server, but I don't know if you should post it there or create a new issue on the ldap app?
@blizzz what do you think?

[2018-02-14 08:27] mburnicki commented on #479
Thanks for the summary, @timreeves . My personal preference would be that searches only be done in the visible address books. Otherwise the search results may be quite confusing.

Concerning the way how to make an address book visible or not, I'd prefer to have a check box beside each name in the address books list rather than have the option hidden in a dotdotdot menu.

It would be useful anyway

[2018-02-14 08:56] skjnldsv commented on #119
Fixed with #419

[2018-02-14 08:56] #119 closed

[2018-02-14 09:25] timreeves commented on #479
As before, the comments of @mburnicki are good - thanks Martin! I also use TB Cardbook (on Kubuntu), and I must admit that having the checkboxes to show/hide right next to the address book name is nifty - although I hardly ever use them as local processing of my sum total 1000 contacts is subjectively lag-free.
Not sure I agree with Martins search preference though. While the logic he uses is clea

[2018-02-14 10:23] mburnicki commented on #479
@timreeves My search preference was only for the list of contacts shown in the contacts list, when maintaining the address books.

Of course the search should include **all** contacts when used by a mail app, either to select the To: contact, or to whitelist a "From:" contact. In fact I also use contact photos for most of my contacts, so I can immediately see in the list of emails on my android ph

[2018-02-14 10:40] mburnicki commented on #458
@skjnldsv You wrote:

Which fields would you use instead?
Have you ever tried this?

What would you expect to see for a hotel contact if your contact list is sorted by "lastname, firstname" but you have only entered the full name but the first name and last name fields are just empty? You'd see an empty entry (or just a comma ',' if the app developer doesn't check if fields are empty or not) at th

[2018-02-14 11:38] skjnldsv commented on #458
I use the FN field. Rarely the N :)
It's a really good question for the hotel. ORG should be defined as the hotel organisation name, but the FN should be used to defined which details the vcard belongs to. Like

[2018-02-14 12:09] Henni commented on #479
In my opinion the first step would be implementing a show/hide option. This option should change a setting which is stored in localstorage. This allows the use case that different addressbooks should be displayed on different machines (personal / work environment).
Contacts of hidden addressbooks should internally be removed from the contacts array (instead of only filtering them out) to increase

[2018-02-14 13:24] mburnicki commented on #458
@skjnldsv Agreed. ;-)
However, this doesn't fix the problem when different fields are displayed due to a different sort order. ;-)

[2018-02-14 13:30] skjnldsv commented on #458
Indeed! :p

[2018-02-14 14:17] MrNoname33 opened #482 "Logins with hard restrictions"
We need logins that are only useable at a single machine. When we give somebody a login we never know if this login is not distributed anywhere. Cool would be a login that generates a unique key that you can use one time in your Nextcloud client where the key generates also a unique key. This second key should be automatically send back to our Nextcloud server where this key is used to grant acces

[2018-02-14 14:35] skjnldsv commented on #482
Sorry, but I have no idea what you're talking about! :(

[2018-02-14 15:01] MrNoname33 commented on #482
When you have a Nextcloud server and creates one user login and this login have the rest of the world then the rest of the world have access to your server. When it would be possible to create a login only for the Nextcloud client and a login is nailed on one machine, where it is use the very first time, then only this machine have access. That would be very helpful for us.

[2018-02-14 15:03] skjnldsv commented on #482
I think you're in the wrong place. This repository is for the contacts application.
But as I understand, you want specific passwords for different machines?

[2018-02-14 15:05] MrNoname33 commented on #482
Oh, excuse me. Yes, I am wrong in this place.

And yes, I want to have such passwords for the Nextcloud client.

[2018-02-14 15:06] MrNoname33 commented on #482
Can I move this thread anywhere?

[2018-02-14 15:07] skjnldsv commented on #482
This is actually already implemented. You can go to your settings > security and create per-apps passwords :)

Don't worry, I'll close this thread

[2018-02-14 15:07] #482 closed

[2018-02-14 15:10] drfho opened #483 "Narrow Width of the Contacts List"
Hello,
after updating the contacts list from 2.0.1 to 2.1.0 a CSS problem with the contacts list occured; it is relevant in latest Chrome/Edge, but not this severe in Firefox:

**Problem**
![list1](https://user-images.githubusercontent.com/29705216/36210996-388bb61c-11a0-11e8-8e78-0b25e8f5527e.gif)

**Solution**
The problem can be corrected by removing the overflow-styling for _.app-content-detail

[2018-02-14 15:12] skjnldsv commented on #483
Duplicate of #453

[2018-02-14 15:12] #483 closed

[2018-02-15 07:31] kgraefe opened #484 "Contact list is too small but plenty of space in the details column"
### Steps to reproduce
1. Open contacts app
2. Select a contact
3.

### Expected behaviour
The middle column holding the list of all contacts should be wide enough to show all/most full names.

### Actual behaviour
It's not but leaves plenty of space in the selcted contacts details:
![image 1](https://user-images.githubusercontent.com/3797324/36245040-53bced8c-1229-11e8-8506-b10b760ca1d2.png)

##

[2018-02-15 07:32] skjnldsv commented on #484
Duplicate of #453

[2018-02-15 07:32] #484 closed

[2018-02-15 10:07] renne opened #485 "Feature Request: Support what3words addresses"
### Actual behaviour
[what3words-addresses](https://what3words.com/) not supported

### Expected behaviour
Please add a address field for [what3words-addresses](https://what3words.com/) in the contacts app. Additionally it would be great to add the [what3words-API](https://docs.what3words.com/api/v2/) to convert addresses.

[2018-02-15 12:36] blizzz commented on #454
@blizzz what do you think?

Rather a new app, LDAP configurations and connections can be reused via `\OCP\LDAPProvider`.

[2018-02-15 16:49] elgaard commented on #129
I had the same problem with Nextcloud 13.

Contacts could not be updated from the webinterface. But they could be updated from e.g., a phone using caldav. And after that those contact could be updated from the webinterface.

I fixed it for all contacts by:

`update oc_cards set carddata=REPLACE(carddata,'PRODID:-//ownCloud//NONSGML Contacts 0.5.0.0//EN\r\n','');`

[2018-02-15 18:02] tessus commented on #454
So what shall I do? A new app means that I should not create an issue on the ldap app, nor does it mean I should add it to the above mentioned issue.

Where and how would I bring up my idea of an LDAP connector app (access WebDAV contacts via LDAP)?

[2018-02-16 19:30] LordSimal opened #486 "Contact list very small when a contact with "Phone" and "Detailed name" area is open"
### Steps to reproduce
1. Add a few new contacts with a "Phone" area and a "Detailed name" area
2. Look at the list of available contacts while one of the added contacts is open

### Expected behaviour
The 300px width of the contacts list, that is present in the ".app-content-list" class.

### Actual behaviour
Just 150px width, cause the content of the open contact is pushing the list to its size

[2018-02-16 19:46] skjnldsv commented on #486
Duplicate of #453

[2018-02-16 19:46] #486 closed

[2018-02-17 10:01] abuzze commented on #399
I have seen the same problem with the contacts app (Version 10.0 (1756.20) on Sierra. I added some contacts to the default contacts address book and synced them to my Mac and my iPhone. Then i created a new address book called Archive in the webgui and moved some contacts to the new address book. After a while only those contacts where shown on the Mac, although all contacts where still visible on

[2018-02-17 13:18] Henni commented on #485
also: plus codes, which have are also supported by google maps https://plus.codes/

But I'm not sure this is a feature we want in the contacts app, as it is extremely specific.

[2018-02-18 02:32] aditigupta17 commented on #436
I want to take this up. Can the issue be explained a bit more specifically as in what modification in expected? Furthermore which file in particular should I be modifying?

[2018-02-18 04:10] skjnldsv commented on #436
Hi @aditigupta17!
You can use the chrome/firefox dev tools to see what you need to edit in the details scss file.

[2018-02-18 14:52] Peque opened #487 "Broken contact links in web interface"
Opened [this issue in the server repo](https://github.com/nextcloud/server/issues/8404) but I was told it belongs here. :innocent:

I recently upgraded to NC 13 and it seems some links in the Contacts app are not working in the web interface.

When I hover the contacts in the contact list (no click) I see 2 different types of links:

1. https://domain.com/apps/contacts/#/Group/e5c9a57f-d84c-4b8c-a

[2018-02-18 14:55] skjnldsv commented on #487
Hum, is the old domain active?
How can this appear here if you already migrated the data? 🤔

[2018-02-18 15:34] Peque commented on #487
@skjnldsv Well, there is a redirection still placed in the server (i.e.: old_domain ---> new_domain), so that people trying to reach the old domain name land in the new domain. I could remove it if necessary. Do you think that could help?

I do not know why it appears here. As I mentioned, the migration happened even before NC 12, and while using NC 12, never saw this happening. It was after upgra

[2018-02-18 15:37] skjnldsv commented on #487
Hum, no you can keep it that way for now, I'll think about it! :/
@Henni, any idea?

[2018-02-18 15:59] Peque commented on #487
@skjnldsv I removed the redirection anyway. It has been years since the domain change, so it was about time... :blush: (doing that did not help though)

[2018-02-18 16:02] skjnldsv commented on #487
Can you post the vcard ?

[2018-02-18 16:15] Peque commented on #487
@skjnldsv I have stripped personal data and the profile picture in one of the cards, I guess you do not mind.

1. Working fine: [e5c9a57f-d84c-4b8c-a59b-ee742e1b42a1.vcf.txt](https://github.com/nextcloud/contacts/files/1734859/e5c9a57f-d84c-4b8c-a59b-ee742e1b42a1.vcf.txt)
1. Broken: [2EAF6525-17ADC861-38D6BB1D.vcf.txt](https://github.com/nextcloud/contacts/files/1734858/2EAF6525-17ADC861-38D6BB1D.

[2018-02-18 16:19] skjnldsv commented on #487
Aaaand we have our answer here! :)
@henni, how should we do this? Rewrite the uid? Urlencode it?

[2018-02-19 10:23] RonaldBarnes commented on #433
I also found changing VERSION:2.1 to VERSION:3.0 allowed contacts to finally import.

Except a bunch that didn't (without indication of which ones).

As moso stated, any contacts with photos ("`ENCODING=BASE64`") fail to import.

In a text editor, after removing the photo data, still had some contacts fail to import.

Any contact with some data that has "`ENCODING=QUOTED-PRINTABLE`" also fails to

[2018-02-19 11:49] rutujasurve94 commented on #253
I would like to take this bug up as a part of beginner level bug for Rails Girls Summer of Code 2018

[2018-02-19 11:49] rutujasurve94 commented on #270
I would like to take this bug up as a part of beginner level bug for Rails Girls Summer of Code 2018

[2018-02-19 11:49] rutujasurve94 commented on #56
I would like to take this bug up as a part of beginner level bug for Rails Girls Summer of Code 2018

[2018-02-19 16:47] skjnldsv commented on #56
Hi @rutujasurve94 :)

This has already been addressed in #481, nonetheless, you can see in https://github.com/nextcloud/contacts/pull/481#issuecomment-365593321 that there is still some work to move from the column system to the grid system. It could be a little more tricky, but I don't know your css level, maybe you can wait for #481 to be merged and then create a new pr for the new system?

[2018-02-19 16:49] skjnldsv commented on #433
We have indeed dropped support for <3.0 vcards, but it's supposed to show an error.
Int's also possible that some properties are not  fully parsed and therefore could lead to issues. We're planning on movinf to a different vcard library that should fix those issues. Sorry for the inconvenience :)

[2018-02-19 16:50] skjnldsv commented on #270
@rutujasurve94 please do! :)
You can create a pr to fix this issue. and we'll review it!

[2018-02-19 16:51] MorrisJobke commented on #253
@rutujasurve94 Nice :) Could we somehow help you? I'm not 100% familiar with contacts but maybe @skjnldsv @xh3n1 or @jonatoni could help out? Or @Henni / @irgendwie

[2018-02-19 17:36] buttle commented on #206
Hi, I've just discovered the log fill with this error. My nextcloud instance and apps are all up to date.

`Sabre\DAV\Exception\UnsupportedMediaType: Validation error in vCard: The FN property must appear in the VCARD component exactly 1 time`

Do I need to open an new Issue for this?

Cheers.

[2018-02-19 17:38] enoch85 commented on #206
@buttle Use Cardbook if you use Thunderbird, that solved my issue. Please read the above comments.

[2018-02-19 17:45] buttle commented on #206
@enoch85 Tomorrow I'll do that. I'll get back if it doesn't work ;)
Thank you Daniel.

[2018-02-19 18:07] rutujasurve94 commented on #270
Hi! I tried to look up the file in the contacts repo where "New Contact" is put as the default value for the FN field. But, a grep search didn't return any file. The fn field has been defined in the dav.js and contact.js file. Could you hint as to which file we could look up for finding this default behaviour so that we can convert this string to NULL to fix this issue?

[2018-02-19 18:19] rutujasurve94 commented on #253
Hi! @MorrisJobke  Sure, some pointers wrt the code base would be great to proceed with the fix.

[2018-02-19 21:30] Peque commented on #487
@skjnldsv I do not know the possible side-effects, nor which of those options is easier, but if I was asked: "would you rather keep this ID (URL-encoded) or have a new one that matches the rest of UUIDs style in your contacts?" I would definitely prefer the latter. I have no interest in keeping that weird-looking UUID, so rewriting the UUID sounds good to me (unless it could break something... :jo

[2018-02-20 06:55] skjnldsv commented on #487
I agree with you. But we may be missing a downside to this behavior that we don't know! :)

[2018-02-20 07:58] skjnldsv commented on #270
You can't really set the FN field to null by default since a FN property is required by the vcard rfc :)
That's why there is a text by default, so the FN field isn't empty on creation.

Nonetheless, everything happens here: https://github.com/nextcloud/contacts/blob/master/js/services/contact_service.js#L226

[2018-02-20 09:17] rutujasurve94 commented on #270
I have raised a pull request here: https://github.com/nextcloud/contacts/pull/488
@skjnldsv @jancborchardt

[2018-02-20 10:12] MorrisJobke commented on #253
Copy from IRC:

[2018-02-20 10:32] Mannshoch opened #489 "Since Upgrade from 2.0.1 to 2.1.0 all groupname apper {"name":"GROUPNAME","count":23}"
### Steps to reproduce
1. Upgrade from 2.0.1 to 2.1.0
2. Open Contact tab - First time I got only a Blank Group list
3. Refresh
![nextcloud-contact](https://user-images.githubusercontent.com/7795891/36419061-2d2ec116-1631-11e8-94d2-7f03110bc338.png)

### Expected behaviour
See all groups listed

### Actual behaviour
{"name":"GROUPNAME","count":23}

[2018-02-20 12:01] skjnldsv commented on #489
Duplicate #474

[2018-02-20 12:02] #489 closed

[2018-02-20 12:17] Mannshoch commented on #489
As described in #474 I cleared the cache. Problem solved:
![nextcloud cache leeren](https://user-images.githubusercontent.com/7795891/36423462-5c0481ec-1640-11e8-8652-d8f0f34825df.png)

[2018-02-20 18:35] rutujasurve94 commented on #253
I followed the steps, installed php7, changed the conf in apache2.conf and git cloned next cloud server, ran the init command, cloned the contacts repo in the apps folder and tried running make
this is the error I get with make: apps rsurve$ cd contacts/
Rutujas-MacBook-Pro:contacts rsurve$ make
make npm
npm run build
make[1]: npm: No such file or directory
make[1]: *** [npm] Error 1
make: *** [bu

[2018-02-20 20:09] MorrisJobke commented on #253
You are missing the `npm` command - have a look at https://docs.npmjs.com/getting-started/installing-node for install instructions.

[2018-02-20 22:12] blizzz commented on #454
well, that's a good question, when you don't code. In the end you'll need to find someone to write it. Perhaps you can ask in the [forums](https://help.nextcloud.com/c/feature).

[2018-02-20 23:15] tessus commented on #454
Thanks for the info.

[2018-02-21 07:01] rutujasurve94 commented on #253
@MorrisJobke @jancborchardt  @skjnldsv I've been able to successfully build the contacts app on my Mac with the guidelines suggested above. I read the thread above, we want to ensure that contact3 (freshly created contact) is used when the user tries to edit. When the 3 new properties wrt address, etc. are added in newContactButton_controller.js, they don't get updated at server side where the con

[2018-02-21 09:56] christian-weiss opened #492 "re-add vcf 2.1 format support (in contact import function)"
FEATURE REQUEST:

I know you dropped <3.0 support recently as stated here: https://github.com/nextcloud/contacts/issues/433

While in general it is a good thing to remove old standards to force users to do migration to newer standards, to keep a maintainable software solution, but in case of a sync solution like nextcloud/contacts a wide format support is (or should be) a essential attribute of th

[2018-02-21 10:24] christian-weiss opened #493 "Show summary after import (total, imported, skipped by dublicate-check, skipped by error), raw download of "skipped by error"-contacts"
FEATURE REQUEST:

At the moment it is hard to investigate, which "Contact could not created" as an error message told me while import is in progess.

Exporting the contacts list and doing a diff with the import file is cumbersom, because sort order of contact items is different. Imagine an import file with hundrets of contacts (e.g. 302 contacts)

Please generate a "skipped by error"-contacts vcf

[2018-02-21 16:49] MorrisJobke commented on #253
On the server side we use the CardDav backend that is located in the server repo and written in PHP. That means all the JS code is executed on the client side. Sadly I'm not that familiar with the contacts app. Maybe @xh3n1 or @jonatoni can judge a bit better. 🙄

[2018-02-21 16:53] rutujasurve94 commented on #253
@MorrisJobke sure, thanks a lot

[2018-02-21 17:22] rutujasurve94 commented on #354
I'd like to take this issue up. @jancborchardt  @xh3n1 I'd like to take this up. Could you point to the code base that displays the Download and delete icons and does more-icon mean 3 dot icon? We need a drop down menu that shows download and delete on clicking this icon. Could you point to a sample code base where such a thing is being done?

[2018-02-21 17:32] jancborchardt commented on #354
@rutujasurve94 cool! The point in the code is findable by simply searching for the text – for example here for "download":
https://github.com/nextcloud/contacts/search?utf8=%E2%9C%93&q=download&type=
The templates/contactDetails.html is the correct file, with the occurences lower down (the first icon-download is only rotated to be a back button on mobile ;)

Documentation on the popover menu can b

[2018-02-21 17:37] rutujasurve94 commented on #354
@jancborchardt thanks a lot. I'll get back to you soon with this.

[2018-02-21 18:53] nrgeen opened #494 "disable shared address book does not work"
### Steps to reproduce
1. Open contacts in Firefox 58 / Chrome 64.0.3282.167
2. You can access an address book shared by someone else in Contacts.
3. Use Settings to access the settings of the shared address book and try to deactivate it.

### Expected behaviour
The shared address book is deactivated.

### Actual behaviour
It seems that the click has no effect. The shared address book is not deact

[2018-02-21 21:50] skjnldsv commented on #494
You can't disable addressbooks that does not belong to you. This is a duplicate of https://github.com/nextcloud/contacts/issues/479

[2018-02-21 21:50] #494 closed

[2018-02-22 10:08] rollanders opened #495 "Column for names too narrow"
### Steps to reproduce
1. The display of the name column is to narrow - can only see half of the name, wheras the display of the individual is too large.
2. This relation is independent of window size. Same in Windows Edge and Chrome.

![image](https://user-images.githubusercontent.com/36486009/36532139-36917466-17c0-11e8-850a-353dd568fc3f.png)

### Server configuration
## Server configuration det

[2018-02-22 10:09] skjnldsv commented on #495
Duplicate of #453

[2018-02-22 10:09] #495 closed

[2018-02-22 10:24] rollanders commented on #453
It seems almost all discussion is about the left column too wide and sorting. Most important problem is the "middle" contacts list too narrow. And details part of the window gets almost all space.

[2018-02-22 10:25] skjnldsv commented on #453
It's being fixed in #481

[2018-02-22 17:46] Sr4l commented on #495
Are you sure this is the same problem? I was Going to report the same issue as rollanders. I have very small  "name" column in Chrome (also Chromium, Linux and Windows) and Windows Edge. I can only read the first ~3 chars of every name. Firefox seems okay though.

![issue](https://user-images.githubusercontent.com/2060860/36554612-0fdecc0c-1800-11e8-8566-0e58e173ee83.png)

[2018-02-22 17:50] skjnldsv commented on #495
It depends on the windows width. As soon as the details get split into two columns, the list get shrunk. :)

[2018-02-22 17:54] Sr4l commented on #495
Nice one ;-). Nope. I am on fullscreen at 1920x1080 and the "contact details" consume more than 80% of the screen.

[2018-02-22 18:22] skjnldsv commented on #495
@Sr4l The new pr is supposed to fix this, But I'll provide a new grid system asap. It should be a lot better :)

[2018-02-22 18:29] Sr4l commented on #495
Good job. Sorry for stealing your time.

I applied PR #481 and its looking fine.

Thank you!

[2018-02-22 18:52] kamsuri commented on #436
Hi @juliushaertl !
As there is no activity from past few days by anyone, so i would like to take this up.

[2018-02-23 02:34] aditigupta17 commented on #436
@kamsuri Sorry for the delay, actually I was facing a bit of trouble setting up the server on the system. Now that I am done with that, I am working on it as of now. :)

[2018-02-23 03:37] jovanie commented on #462
I have a similar issue too: my instance is freshly updated and I can't create a contact and any info I put into a new contact is lost shortly after. Also, I can't click on any other contact. I'm not sure how to get a console log.

[2018-02-23 07:41] rollanders commented on #495
At window size 770-797 I see 2-3 letters in the contacts list column. At 798-840 I see no letter - just three points. The number of letters is then gradually increasing with increasing the window and I almost see them al at 1449. When increasing the window further the column shrinks again and only 2 letters and three points are visible.  This is Chrome. The same behaviour in Opera and Edge.  The C

[2018-02-23 07:59] Sr4l commented on #495
@rollanders You are right. You could apply these changes now: https://github.com/nextcloud/contacts/pull/481/files to your nextcloud/apps/contacts files or you have to wait. skjnldsv is waiting for approval to merge the mentioned changes.

[2018-02-23 08:22] rollanders commented on #495
Confirm it works in Chrome.

[2018-02-23 08:23] skjnldsv commented on #495
Don't appologise :)
It's perfectly normal

[2018-02-23 08:24] skjnldsv commented on #462
@jovanie what browser do you use? :)

[2018-02-23 08:26] jovanie commented on #462
Chrome!

On Feb 23, 2018 2:24 AM, "John Molakvoæ" <notifications@github.com> wrote:

[2018-02-23 08:27] skjnldsv commented on #462
You can press F12 to see the browser log then :)
Open it then reload the page and edit your contact

[2018-02-23 10:17] #436 closed

[2018-02-23 17:56] skjnldsv commented on #143
Is this still happening?

[2018-02-23 23:48] suntala commented on #445
Could I please be assigned this ticket?

[2018-02-24 00:20] skjnldsv commented on #445
@suntala please do! :)

[2018-02-26 13:03] #56 closed

[2018-02-26 13:03] #453 closed

[2018-02-26 13:31] Henni commented on #487
URL encoding is the right way to go here:
The [UID field](https://tools.ietf.org/html/rfc6350#section-6.7.6) expects a uri or text. A UUID is suggested but not required:

[2018-02-26 13:38] Peque commented on #487
Shame... would not have missed those ugly URL-like identifiers... :joy:

[2018-02-26 13:38] skjnldsv commented on #487
@Henni or we could md5 the uid if it's not an uid. I love consistency :)

[2018-02-26 14:53] Henni commented on #487
@skjnldsv that could work... We would have to add an `id` property for this to the contacts model (but isn't represented in the vcard). This property would be defined by calculating `md5(uid)` and would be used for identification of contacts in our app (e.g. in the url / as key inside the contactsCache).

[2018-02-26 15:10] skjnldsv commented on #487
Yes, since we can't md5-reverse! :)

[2018-02-26 19:49] skjnldsv commented on #422
Fixed already

[2018-02-26 19:49] #422 closed

[2018-02-27 16:02] pinowthebird commented on #462
I have the same issue, and I'm using Chrome.

[2018-02-27 17:21] skjnldsv commented on #462
@pinowthebird same answer, I need your browser log :)

[2018-02-27 17:32] jancborchardt commented on #283
What’s the use-case here though? Nextcloud Contacts is all about syncing, so you already will have it in your phone?

Also, which phone contacts app has a QR code reader?

[2018-02-27 17:34] skjnldsv commented on #283
@jancborchardt  it was for quick share! :)
You just pop it up on your phone and add it to your contacts

[2018-02-27 18:04] tflidd commented on #485
Perhaps we should first add coordinates (as the most precise and most general representation) and then offer different representations in the UI. If someone wants to enter a location with what3words or other, we just add the coordinate of the center of the square.

[2018-02-27 18:06] tflidd commented on #302
Issue for geo-coordinates: https://github.com/nextcloud/contacts/issues/485

[2018-02-27 19:42] gorn commented on #444
I see https://github.com/angular-ui/ui-select/pull/1943 quite active, so there is a hope.

[2018-02-28 04:40] WNYmathGuy opened #499 "Can't update Contacts 2.1.1"
### Steps to reproduce
1. Click the button for "Update to 2.1.1"

### Expected behaviour
Install the update

### Actual behaviour
Fails to install see attached screenshot for on screen error message.
[https://ruppssites.com/NextCloud-Fail-1.png](https://ruppssites.com/NextCloud-Fail-2.png)
### Server configuration

[https://ruppssites.com/NextCloud-Fail-2.png](https://ruppssites.com/NextCloud-Fail

[2018-02-28 04:53] WNYmathGuy commented on #499
FUCK!!! I'm such an asshole. I went over my own self-prescribed limits on my own server. I uploaded a fuck load of files from my google mobile dev to my private NextCloud that I hit the quota and didn't realize it till I tried to open my email box and got an over quota warning.

[2018-02-28 04:53] #499 closed

[2018-02-28 05:51] rutujasurve94 commented on #354
Hey! @jancborchardt I've raised a pull request for this here: https://github.com/nextcloud/contacts/pull/500

[2018-02-28 07:38] skjnldsv commented on #499
A bit too extreme, but I'm glad you found the solution :)

[2018-02-28 08:04] pinowthebird commented on #462
"Luckily" it occurs often.
![image](https://user-images.githubusercontent.com/36229718/36776490-496ca754-1c66-11e8-895b-fbf0263cdcd3.png)

[2018-02-28 08:06] skjnldsv commented on #462
@pinowthebird can you post the response of the first 400 put failure request please?

[2018-02-28 08:13] pinowthebird commented on #462
It seems to happen when I switch between contacts.

![image](https://user-images.githubusercontent.com/36229718/36776856-91d28210-1c67-11e8-971f-50cb4dedcd51.png)

[2018-02-28 08:27] pinowthebird commented on #462
![image](https://user-images.githubusercontent.com/36229718/36777373-88859f42-1c69-11e8-9550-de53e42b0bbb.png)

[2018-02-28 08:29] skjnldsv commented on #462
One more step, click the failed request and click the "response tab". Sorry :see_no_evil:

[2018-02-28 08:32] pinowthebird commented on #462
No problem, I was already on it.

![image](https://user-images.githubusercontent.com/36229718/36777592-58191d92-1c6a-11e8-9490-f765813cc72c.png)

[2018-02-28 08:35] skjnldsv commented on #462
Ah! Found it :D
Well, you have a failing contact, probably from a previous install?
Anyway, I'll suggest that you download it, and then import it again to generate a new uid.

[2018-02-28 08:40] pinowthebird commented on #462
Both my install and the contacts are fresh.

[2018-02-28 08:57] pinowthebird commented on #462
Also, I get the same error after deleting and recreating the contact.

[2018-02-28 08:58] skjnldsv commented on #462
@pinowthebird The import works?

[2018-02-28 09:04] pinowthebird commented on #462
I deleted it, and started from scratch. That should result in a new UID as well?

If I export, delete and import again, then it fails. I get the following response:
"Calendar object with uid already exists in this calendar collection."

I did now notice that the Calendar has now two birthday events for the unexisting contact.

[2018-02-28 09:17] pinowthebird commented on #462
I managed to start from scratch. And after a lot of testing I finally discovered what causes this issue:
**Adding both a birthday and an anniversary.** I haven't used nor tested date of death.

"Calendar object with uid already exists in this calendar collection."

[2018-02-28 09:23] skjnldsv commented on #462
Export, delete your contact, edit the vcf file and remove the UID line, re-import again.

[2018-02-28 09:29] pinowthebird commented on #462
The issue remains. And that's because that contact isn't the issue.

The issue is every contact with both an anniversay and birthday. I've tried this with multiple contacts now. Both from scratch and adding an anniversary to contacts that already have a birthday registered.

The problem remains until the anniversary is removed again. Then the contact is fine.

[2018-02-28 09:31] skjnldsv commented on #462
This is very strange, I'll try soon :)
Could you create a new issue with your find? This issue has many differents issue and starts to look confusing ;)

[2018-02-28 09:34] pinowthebird opened #501 "Contact could not be saved if both anniversary and birthday"
### Steps to reproduce
1. Create a new contact
2. Add birthday
3. Add anniversary
----
1. Edit an existing contact that has a birthday
2. Add anniversary

### Expected behaviour
Save contact.

### Actual behaviour
Error message: "Contact could not be saved."

#### Browser log
"Calendar object with uid already exists in this calendar collection."

<bountysource-plugin>

---
Want to back this issue?

[2018-02-28 09:35] pinowthebird commented on #462
Done. #501

[2018-02-28 12:49] boldt opened #502 "Thunderbird: Synchronize e-mails seems to be random"
I don't get, how the my nextcloud contacts are synced with Thunderbird (with Sogo). As far as I recall, Thunderbrid can only handle two e-mail adresses (I cant find the related issue on bugzilla now).

Imagine I have a contact with 2 or 3 adresses. I can apply the following cases:

| | WORK          | PRIVATE       | OTHER  |
|-| ------------- | ------------- | ------ |
Case 1 | ✓

[2018-02-28 12:56] mburnicki commented on #502
As far as I know, the limitation of 2 email addresses is also in Sogo. I'm using the Cardbook plugin for Thunderbird which can also synchronize with Nextcloud but supports more than 2 email addresses.

[2018-02-28 13:32] boldt commented on #444
I can confirm that issue on the nextcloud docker image: `nextcloud:13.0.0`

[2018-02-28 13:35] boldt opened #503 "Order of groups"
The groups in my nextcloud 13.0.0 (installed with docker) are not ordered.

### Expected behaviour

* Having the groups in alphabetical order or provide an option how to order the groups.

### Actual behaviour

* The groups are shown in the order as they were created.

[2018-02-28 14:17] Tux12Fun commented on #433
Can see the same Problem here, try to import my Contacts. All VCards are 2.1 and have BASE64 Pictures.
Changing to Format 3.0 with a editor gives a
PUT https://...../nextcloud/remote.php/dav/addressbooks/users/.../contacts/897...3a2.vcf  415 (Unsopported Media Type)

Error: [$rootScope:infdig] ....
at angular.min.js:6
....
at Object.q [as forEach] (angular.min.js:7)
at notifyObservers (contact_ser

[2018-02-28 14:30] oresch opened #504 "Enable/disable birthday information for auto-generation on server"
In the contact app there should be a possibility to enable/disable the birthday information for the server to generate/or not the calendar event.

In my case I got a lot of birthday information in my address book. But I don't want them all to be used for event generation by the server.
Maybe the [closed issue 473](https://github.com/nextcloud/contacts/issues/473) is pointing in the same direction.

[2018-02-28 14:52] skjnldsv commented on #504
Like it says on #473, the calendar is being generated by the server.

[2018-02-28 14:52] #504 closed

[2018-02-28 14:53] oresch commented on #504
But the server can not know which contact he should not render! This is, why I opened this issue in the contact app.

[2018-02-28 14:54] skjnldsv commented on #503
Duplicate of #431

[2018-02-28 14:54] #503 closed

[2018-02-28 14:56] gjanssens commented on #143
Meanwhile I have upgraded to nextcloud 12, contacts app 2.0.1 (and I now see there's another update available to 2.1.1).

I have not bothered yet to re-enter the 6 failing contacts (or more precisely the 6 bad images of these contacts). My other contacts so far are still working fine. I suggest to close this issue as obsolete unless @triller123 or @poeschke still have issues.

[2018-02-28 14:59] skjnldsv commented on #143
Let's close this. If it's still an issue with the latest on nc13, let's create new ones so we can update the ressources :)

[2018-02-28 14:59] #143 closed

[2018-02-28 15:42] skjnldsv commented on #428
Hello everyone! Is this still a big issue? Or are our latest optimisation good enough? :)

[2018-02-28 15:57] Woi commented on #213
Maybe nice to know:
DAVdroid has a [nice comparison table](https://www.davdroid.com/faq/cant-manage-groups-on-device/) of both methods.
They also document the [limited group support in nextcloud app](https://www.davdroid.com/tested-with/nextcloud/).

[2018-02-28 16:47] RainerEmrich opened #505 "Contact sorting still doesn't work as expected"
At the moment we have the option to sort the contacts by "Display name", "First name" or "Last name". But the "Last name" sorting still doesn't work.

Her are simple data to test with:

BEGIN:VCARD
VERSION:3.0
FN:Auser Zname
UID:4d73a9f3-a63c-453c-b042-5620c6373115
N:Zname;Auser;;;
REV:20180228T151648Z
END:VCARD
BEGIN:VCARD
VERSION:3.0
FN:Buser Yname
UID:8fc04e91-a1e0-44a5-a17b-90c15a2ff692
N:Ynam

[2018-02-28 18:15] skjnldsv commented on #505
Hi! :)
If I understand correctly, it works but the sorting settings are not properly saved?

[2018-03-01 08:21] RainerEmrich commented on #505
The sorting setting is saved, as you see on the fourth screen shot. But only the selected entry is affected. So if you come back to the contacts app, only the first entry gets changed to "Last name, First name" display and moved in the list. When you select an entry by click, the name display is also changed and the entry is moved. So, to sort the entire list by "Last name" you have to click every

[2018-03-01 09:15] RainerEmrich commented on #505
Same applies to "First name" sorting. If set a prefix in the detailed name, you observe the same issue for "First name" sorting. Summary: Sorting by "First name" or "Last name" doesn't work as expected.

[2018-03-01 12:40] iskaron commented on #379
Is there any temporary workaround? I tried to update the entry in oc_vcategory and cleaned the redis, but the group still shows with a slash and cannot be opened.

[2018-03-01 15:28] skjnldsv commented on #258
@CamZie is this still occurring with latest 2.1.1?

[2018-03-01 15:42] CamZie commented on #258
@skjnldsv This issue with the "No contacts here" has been solved since the upgrade to 2.0.1.

About the error "Invalid or unknown sync token" in the logs mentioned on my last post, I have opened another issue about this on the nextcloud/server repository #7793.

[2018-03-01 15:44] skjnldsv commented on #258
Awesome!

[2018-03-01 15:44] #258 closed

[2018-03-01 17:43] vvdimako commented on #505
Same here, too. After changing sorting to "Last name", I can see my contacts list been reordered but not all contacts are sorted correctly. Clicking on a wrongly placed contact results in it being reordered to the correct position.

[2018-03-01 17:44] skjnldsv commented on #505
Let's fix this for the next version

[2018-03-01 17:50] vvdimako opened #506 "Option to display last name first"
Hi there,
maybe I did not search exhaustively, but I could not find a similar request:
Is it possible to add an option to show contacts by LAST name first?
I am not referring to sorting, just how a contact name is displayed.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/55672545-option-to-display-last-name-first?utm_campaign=plugi

[2018-03-01 17:50] skjnldsv commented on #506
Duplicate #373

[2018-03-01 17:54] vvdimako commented on #506
No problem; tried to avoid this with my last sentence but failed :-)
Yes, I mean display last name first, no matter what the sorting preference is (the display style and the sorting order should be independent)
Thanks for the quick reaction!

[2018-03-01 18:03] vvdimako commented on #506
From what I see this is related to the sorting order, i.e. when I select sorting by first name, then contacts are displayed as (firstname lastname) *and* sorted by firstname. If I select sorting by last name then (I just discovered) that contacts are displayed as (lastname, firstname) *and* sorted by lastname. I.e. sorting changes the way a contact is displayed.

Actually, the way it works now is

[2018-03-01 20:23] christian-weiss opened #507 "Contact could not be saved if both birthday and date of birth given"
(I do not want to hijack #501. My issues seams to be very similar to #501, execept the fact, that other fields are used.)

The error message "Contact could not be saved" comes directly after changing a contact via WebUI (nearly after each keystroke).

I noticed that this message is misleading, at least for the first change. The **first change** a non-admin user is doing **will be persisted**, but

[2018-03-01 20:24] christian-weiss commented on #501
@pinowthebird i have a very similar issue in #507 and some findings. Can you confirm my findings with your issue?

[2018-03-01 20:26] skjnldsv commented on #507
Thanks you, I now understand the issue better. This is not a contact issue nor a calendar issue. This should go directly into server since the vcard is being rejected by the webdav instance. :)

[2018-03-01 20:27] christian-weiss commented on #507
As #501 was a spin-off of #462 my findings my help to tackel down #462, too.

[2018-03-01 20:29] christian-weiss commented on #462
@DanLeonelli i have a very similar issue in #507 and some findings. Can you confirm my findings with your issue?

[2018-03-01 20:33] christian-weiss commented on #507
Just for the sake of completeness:
Running the command line tool to re-sync the birthday calendar will bring the same exception:

[code]

[2018-03-02 06:12] pinowthebird commented on #501
Yes, and I'm pretty sure the issue comes down to "more than one date field for a contact". So the same goes for date of death as well.

[2018-03-03 19:03] MaxMihawk opened #508 "Problems after update to Version 2.1.1 (Nextcloud Version 13)"
The layout is broken now after the update (see the left column). Further the pictures of the contacts are not preloaded. They appear after i click on a contact (but only the picture of the contact i´ve clicked).

![unbenannt](https://user-images.githubusercontent.com/19865256/36938113-45af1340-1f1d-11e8-9480-e07e0f08e205.jpg)

Seems, that something is missing. I tried to deactivate and delete the

[2018-03-03 19:16] skjnldsv commented on #508
Please clear your cache :)

[2018-03-03 21:24] MaxMihawk commented on #508
The installation is on a webhosting package. I dont have access to a console. How can I clear it?

[2018-03-03 21:56] mgrueni commented on #508
@skjnldsv thanx, worked
@MaxMihawk you should clear the cache of your internet browser, how to do depends on which browser you use

[2018-03-04 00:14] MaxMihawk commented on #508
Thx a lot. Now it works better. The pictures still dont get preloaded, but i´m fine with it (=without :) ) .

[2018-03-04 02:19] christian-weiss commented on #507
Event URI is not the same - it is unique for each date field. But birthday, anniversary and day of death date fileds of a single contact do have the exact the same event UID at the moment. Sorry for a small inaccuracy.

The same contact URI is used as event UID for all 3 date fields. And this causes the problem.

The VEVENT component in the VCALENDAR object stored in oc_calendarobjects.calendardat

[2018-03-04 07:32] skjnldsv commented on #508
@MaxMihawk it will be fixed soon :)

[2018-03-04 07:32] #508 closed

[2018-03-04 16:27] suntala commented on #445
pr: #509 (worked as Team Popcorn for RGSoC 2018 with @sleepypioneer)

[2018-03-05 17:38] klawdhfzasjhaa commented on #492
Systems / applications that use vCard 2.1 **only**:

LineageOS (7.1.2)
MyPhoneExplorer (1.8.8)
Thunderbird (52.6)

[2018-03-06 08:25] laurent22 commented on #433
Same problem here with Nextcloud 13.0.0 when importing a VCF file in Firefox 58.0.2

When I open the contact page it shows these errors and warnings (not sure if related):

![image](https://user-images.githubusercontent.com/1285584/37021487-aab49f20-2117-11e8-9e61-5beea51b36c1.png)

Then when I import the file:

![image](https://user-images.githubusercontent.com/1285584/37021513-bafa2c10-2117-11e8

[2018-03-06 14:43] SCO-Bernhard commented on #277
or assign to groups ...

[2018-03-06 14:49] xXSTrikeXx commented on #277
Is there already a pr? :)

[2018-03-06 15:03] SCO-Bernhard commented on #277
Sorry, I`m from Germany and I`m not used to this shortcut: pr?

[2018-03-06 15:12] xXSTrikeXx commented on #277
@SCO-Bernhard PR is just a programing shortcut on Github and this means, that every contributer can create a pull request which gets merged into the master code. Deutsch ist für den Deutschen an mancher Stelle echt einfacher :D But it´s an international Project 👍

I asked @skjnldsv since he added the Label 1. to develop 👍

[2018-03-06 16:05] skjnldsv commented on #277
No pr yet! A full rebuild of the app is scheduled, this feature will be one of the priorities :)

[2018-03-07 08:52] #487 closed

[2018-03-07 08:54] #421 closed

[2018-03-07 08:56] skjnldsv commented on #210
Can't reproduce, if correct service is selected in the dropdown, the correct informations are saved
`X-SOCIALPROFILE;TYPE=TWITTER:twitter:https://twitter.com/TEST
`

[2018-03-07 08:56] #210 closed

[2018-03-07 08:58] skjnldsv commented on #286
Does this still occurs?

[2018-03-07 09:21] mburnicki commented on #286
I'm going to check it, but won't have time to do so before the weekend.

@Henni Sorry, I somehow missed your comment. Saw it just now. I'll come back to this soon.

[2018-03-07 09:23] skjnldsv commented on #286
@mburnicki don't apologise, we're all late to the party it seems ;)

[2018-03-07 09:37] GAS85 commented on #433
Basically dropping support of versions <3 makes CardDav sync useless for e.g. my Samsung A5 2016.

[2018-03-07 13:14] private-nc-user commented on #479
I had some other things to do, so I'm really late to participate and explain what was my understandig of how the disable button works.
I just wanted to say thanks to @timreeves and @mburnicki, as they just read my mind and described better than I, what I was looking for!

THANK YOU!

As I'm no developer, I can't assist in implementing, but I'm here if testing is needed.

[2018-03-07 20:50] sleepypioneer commented on #147
I have assigned myself to this and will work on it as one of the next PRs for Team Popcorn (RGSoC 2018)

[2018-03-08 00:02] WNYmathGuy opened #516 "Some problems I had with Gmail export to NextCloud import"
I'm certain these glitches are independent of OS, etc.

Minor crap first:
- [x] When typing a new group, theirs an annoying " **(New Group)**" appended to the name of the group if you click the hover label; that doesn't happen if you press the tab key after typing the label. I couldn't find a way to edit it off after, so annoying, but not important.
- [ ] ~~Gmail exports must be in the shitty *.vc

[2018-03-08 00:16] WNYmathGuy opened #517 "[Feature Request] Groups sorting in browser and Social Network parsing for imports"
I do a lot with the **Groups** field in my address book entries in NextCloud. In the left panel of my browser, the groups seem to have a type of moving random sort to them. I don't know if the last edited group goes to the bottom, or what, but it's hard to be an alphabetically thinking person looking for a group that's NOT alphabetically sorted.

When I imported from Gmail, I had a lot of URL's in

[2018-03-08 08:39] volker-raschek opened #518 "CardDav types"
Hello,
where can I find a list showing me which information types the contacts application creates by default via the web interface?

For example a contact exported by a Thunderbird plugin named Cardbook.
[code]
Information Types which I mean are for example in `ADR`, `TYPE=WORK`, `TYPE=PRIVATE`, `CATEGORIES`, `ORG` and all nextclourd specified `X`-Types for example `X-FEDARATED-NEXTCLOUD-ID`.

Pr

[2018-03-10 19:30] Matthias84 commented on #283
Same here, this feature would be useful to share contacts with guests or strangers quickly and without creating accounts, ...

[2018-03-10 19:42] Matthias84 commented on #158
[Another approach](https://security.stackexchange.com/questions/70501/putting-my-pgp-id-link-on-printed-business-cards/121094#121094) are `OPENPGP4FPR:<fingerprint>` URIs. That works fine with Android OpenKeychain.

Please consider, that a single contact might have multiple keys for different protocols (PGP4, OMEMO, ...).

Sharing the public keys via QR-codes would be useful (so related to #158).

[2018-03-11 07:07] #505 closed

[2018-03-12 01:26] Amolith commented on #516
To add to the above, many of the imported contacts from Google were missing names, many of the names were incorrect, and, even after editing names, they all reverted back to the imported name.

[2018-03-12 09:59] Tux12Fun commented on #433
Same Problem with Samsung Galaxy S2

[2018-03-12 10:54] rgarrigue opened #519 "Feature request : multi select to sort / delete contacts"
Hi

Everything is in the title. I wish there was a multi select feature (ctrl clic clic clic, or a select all / none button) for some mass operation, like deleting users.

Best regards,

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/56105449-feature-request-multi-select-to-sort-delete-contacts?utm_campaign=plugin&utm_content=tracke

[2018-03-12 11:07] skjnldsv commented on #519
Duplicate of #277

[2018-03-12 11:07] #519 closed

[2018-03-12 11:09] rgarrigue commented on #277
@skjnldsv any ETA for the rebuild ? Or just an issues to subscribe to follow the rework's progression ?

[2018-03-12 11:10] skjnldsv commented on #277
@rgarrigue unfortunately, no. We're slowly organising ourselves for this task, but this will require a bit of time.

[2018-03-12 11:17] DJCrashdummy opened #520 "please clarify which formats AND versions are supported"
please add a statement in the readme to clarify which formats AND versions are supported!

in conjunction with #433 and #492 i came across some inconsistent and confusing facts:
it seems - as stated there - that only vcard >=3.0 is supported, but then [according to the readme](https://github.com/nextcloud/contacts#why-is-this-so-awesome) the contacts-app is based on SabreDAV, which [supports vcard

[2018-03-12 13:39] nhoening commented on #517
@WNYmathGuy  This will have a better chance if you make two issues out of it.

[2018-03-13 02:24] WNYmathGuy commented on #516
@Amolith just to add a bit more resolution to your comment, my google contacts had selectable ones and other unselectable ones. I could export all or export selected. The distinction I discovered later was the unselectable ones were g+ connections that I put in a circle and may never have been manually added to my address book. The g+ "contacts" can go in the export without names.

Were the ones y

[2018-03-13 13:47] arunikayadav42 commented on #333
Can I please start working on this issue :)

[2018-03-13 20:29] jleaders commented on #433
I have the same issue

[2018-03-13 20:34] jleaders commented on #520
I'd like to add that the code should run a version check and throw an error if a version isn't supported. I also am having vcard failures but they are silent

[2018-03-13 20:34] jleaders commented on #520
This issue title should specify that it is in regards to Vcard / VCF

[2018-03-14 03:50] plutocrat opened #521 "Web UI completely unusable after upgrade to 2.1.2"
Could not see any data apart from first contact.
Update: solved. Browsers required full cache clear and both started working again.

[2018-03-14 03:58] #521 closed

[2018-03-14 09:08] sleepypioneer commented on #147
Hi @skjnldsv and @irgendwie I have problems recreating this issue, I don't have a hands free car app but on the app it appears that trailing white spaces at least from the beginning are removed, is it possible this was fixed else where? Or perhaps I miss something, I am very new to this :) Thank you in advance!

[2018-03-14 09:14] skjnldsv commented on #147
@sleepypioneer I can't reproduce either.  Seems to be fixed, maybe our update to the new vcard library.
Adding a space before, and/or after, and triggering a save send the proper data.

[2018-03-14 09:14] #147 closed

[2018-03-14 10:43] jonatoni commented on #333
@arunikayadav42 feel free to start working on this issue :)

[2018-03-17 05:27] arunikayadav42 commented on #333
@jonatoni can you help me get started please, by pointing to the file that needs to be dealt with.I have already cloned the repo :)

[2018-03-17 17:00] raoulbhatia commented on #474
I can confirm this issue when upgrading from Nextcloud 12.0.6 to 13.0.1.  "Forget about this site" solves this problem.

I think that this is a critical issue that will render the contact app unusable for regular non-tech user and will negatively impact Nextcloud adoption ☹️

[2018-03-17 17:00] raoulbhatia commented on #474
I can confirm this issue when upgrading from Nextcloud 12.0.6 to 13.0.1.  "Forget about this site" solves this problem.

I think that this is a critical issue that will render the contact app unusable for regular non-tech user and will negatively impact Nextcloud adoption ☹️

[2018-03-17 17:00] raoulbhatia commented on #489
I can confirm this issue when upgrading from Nextcloud 12.0.6 to 13.0.1.  "Forget about this site" solves this problem.

I think that this is a critical issue that will render the contact app unusable for regular non-tech user and will negatively impact Nextcloud adoption ☹️

[2018-03-18 09:28] jzielke-nli commented on #477
Suggesting to add an option for the plugin to allow users to decide whether to load it or not.

[2018-03-18 11:20] skjnldsv commented on #474
@raoulbhatia I completely agree, but unfortunately it's a browser issue. Though we need to add a workaround for this as too many people have had issues with this

[2018-03-18 14:03] suntala commented on #373
I am interested in working on this issue, but I am having trouble recreating it as you can see in this picture: https://screenshot.net/ognzyiz (please ignore the red boxes). Any ideas why?

[2018-03-18 14:05] skjnldsv commented on #373
@suntala last name sorting is broken for now. We need to fix it. :/

[2018-03-18 14:09] skjnldsv commented on #373
@suntala you need to use the full name detailed field to reproduce this issue! :)

[2018-03-18 14:12] suntala commented on #373
@skjnldsv thanks for the info! Is this issue something I have a chance of fixing even though last name sorting is broken?

[2018-03-18 14:57] suntala commented on #373
Could I please be assigned this ticket?

[2018-03-18 16:30] skjnldsv commented on #373
@suntala, don't ask, assign yourself and push a pr! :)

[2018-03-18 17:45] suntala commented on #253
@MorrisJobke thank you for creating a guide to setup Nextcloud on a mac. Finding my VM painfully slow, I decided to give it a try. I followed the instructions on https://pad.morrisjobke.de/p/osx-dev, but I am still being told to update my PHP version.

I wasn’t sure what this line in your instructions was saying and so I ignored it: `Option 1: put nextcloud in a subdir of your `
Could that be the

[2018-03-19 01:20] WNYmathGuy opened #522 "[Feature Request] Groups sorting in browser (_top split from Issue #517_)"
I do a lot with the **Groups** field in my address book entries in NextCloud. In the left panel of my browser, the groups seem to have a type of moving random sort to them. I don't know if the last edited group goes to the bottom, or what, but it's hard to be an alphabetically thinking person looking for a group that's NOT alphabetically sorted.

[2018-03-19 01:20] WNYmathGuy opened #523 "Social Network parsing for imports"
When I imported from Gmail, I had a lot of URL's in peoples records that were links to their social networking profiles. Because you can detect the string of `twitter.com/___`, you could probably re-write many of my imported links from full URL's to social media usernames. Maybe you could even have the parsed data for `username` pushed into a link testing function to see if your parsing guessed ri

[2018-03-19 05:46] MorrisJobke commented on #253
@suntala The guide installs PHP 5.6 and 7. just run the unlink command for 5.6 and link 7.0. then the correct version should be available

[2018-03-19 05:46] MorrisJobke commented on #253
And yes you need to put the Nextcloud in a folder that is served by Apache

[2018-03-19 10:30] suntala commented on #253
@MorrisJobke thanks for the info. I already did the unlinking and linking. And as for the second point, I assume you mean the instructions that begin with `# Set your document root
DocumentRoot "/Users/yourmacusernamehere/Projects/nextcloud/"`, which I also implemented.

[2018-03-20 18:23] MorrisJobke commented on #253
Mmmh ... I don't understand fully. Could you rephrase it maybe?

[2018-03-21 12:29] AuspeXeu opened #525 "Issue with names during vCard import"
### Steps to reproduce
1. create a vCard that reads like this and save as `contacts.vcf`
[code]
2. Import `contacts.vcf` using the web-based importer
3. Try to sort the contacts by firstname or lastname and you will realise that the sorting is always done by the displayed name.

### Expected behaviour
The contacts should be sorted according to what is set in the app [firstname/lastname/display]

#

[2018-03-21 12:46] skjnldsv commented on #525
Sorting has been fixed in the next version! :)
See #505 a #511

[2018-03-21 12:46] #525 closed

[2018-03-21 12:48] AuspeXeu commented on #525
@skjnldsv when's that coming out? :)

[2018-03-21 12:49] skjnldsv commented on #525
@AuspeXeu this week I hope ;)

[2018-03-22 08:17] #373 closed

[2018-03-22 08:58] suntala commented on #253
@MorrisJobke Thanks for getting back to me. I have everything running properly now :)

[2018-03-26 12:00] AuspeXeu commented on #525
@skjnldsv any update on the update? :D

[2018-03-26 12:15] skjnldsv commented on #525
Still waiting for our maintainer to push! :p

[2018-03-26 18:29] Peque opened #527 "Next release"
I see some bugs currently affecting version 2.1.2 have already been fixed. As some of them really affect the usability of the web application, would it be possible to make an earlier 2.1.3 release with the current changes and move remaining open issues to 2.1.4? :innocent:

[2018-03-26 19:04] skjnldsv commented on #527
It will arrive this week!

[2018-03-26 19:04] #527 closed

[2018-03-27 07:35] skjnldsv commented on #527
@Peque new update is available :)

[2018-03-27 07:40] Peque commented on #527
@skjnldsv The new upgrade is working great, thanks! :blush:

[2018-03-27 10:09] brunt82 commented on #518
It is difficult to find the client, which produces the error while using multiple clients at the same moment. I know from experience that Thunderbird + Nextcloud works as expected specified by the CardDAV-RFCs. So currently I don't know any problems about synchronizing the work / home addresses between Cardbook from Thunderbird and Nextcloud.

But I also does not know any problem between DavDroid

[2018-03-27 17:56] suntala commented on #253
Hi @rutujasurve94, I'm interested in working on this issue and was wondering if you are still working on it.

[2018-03-28 07:46] wjwieland opened #529 "Contact search button and search text field display below scrolled list entries when list scrolled."
### Steps to reproduce
1. Select contacts search button in top toolbar (far right. See included image)
2. Scroll list below text entry field upward
3. View the text entry field to see anomaly.  It will be partially covered by the top entry in the scrolled list.

### Expected behaviour
Tell us what should happen
The scrolling contacts should display behind or below the text entry field, or better y

[2018-03-28 07:52] wjwieland commented on #529
The following element can have a z-Index property of +1 added to it to mitigate this issue.  Tested via Chrome inspect functionality with positive results.
<input id="contactsmenu-search" type="search" placeholder="Search contacts …" value="

This was intended to be in the original report above.  Sorry for the oversight.

[2018-03-28 07:57] skjnldsv commented on #529
Hello there! :)
Thanks for such detailed report! Could you try to clear your browser cache please?
If that doesn't work, please remove your cached server css files
[code]
then reload the page

[2018-03-28 08:50] wjwieland commented on #529
I tried the clearing of the browser cache which did not solve the problem. Tried it a couple of times actually and closed and restarted the browser to make certain.

Subsequently ran the two command which you referred to and that bricked the Nextcloud app.  Upon reload, I got the following:
[code]

[2018-03-28 08:59] skjnldsv commented on #529
@wjwieland the occ command must have failed.
what was the output?

[2018-03-28 09:03] wjwieland commented on #529
sudo ./occ files:scan-app-data
An unhandled exception has been thrown:
Doctrine\DBAL\DBALException: Failed to connect to the database: An exception occured in driver: could not find driver in /var/www/nextcloud/lib/private/DB/Connection.php:64
Stack trace:
#0 /var/www/nextcloud/3rdparty/doctrine/dbal/lib/Doctrine/DBAL/Connection.php(429): OC\DB\Connection->connect()
#1 /var/www/nextcloud/3rdparty/

[2018-03-28 09:05] skjnldsv commented on #529
Did you ran it with the proper user? :)

[2018-03-28 09:21] wjwieland commented on #529
Then how did it run prior to my running the two commands which deleted the files?
NextCloud ran fine before I ran the:
rm -r data/appdata_*/css/* data/appdata_*/js/*
occ files:scan-app-data

I would like to understand this...

[2018-03-28 10:33] wjwieland commented on #529
Ok.  Got a bit panicked there.
I installed php-mysql (is this only used by occ and not the rest of the application?) then ran the occ command again, as follows:
`sudo -H -u www-data ./occ files:scan-app-data`
which ran a while then gave the output as follows:
`Scanning AppData for files

+---------+-------+--------------+
| Folders | Files | Elapsed time |
+---------+-------+--------------+
| 459

[2018-03-28 11:12] skjnldsv commented on #529
That is a very good question ^^
Do you have the proper php module in the end? Or not?
Did you ran the occ command with the http user?

[2018-03-28 11:14] skjnldsv commented on #529
Okay, so we fixed an issue who was not the point of this post? :D
I'll look the css again.

[2018-03-28 11:15] skjnldsv commented on #529
Okay, I can reproduce, I'll fix it later! :)

[2018-03-31 07:48] rollanders opened #531 "Define different levels of access to contacts list - in view of GDPR"
I have a concern (question/issue) about the full access to the contacts list for all the Nexctcloud users. In the Contacts list there may be some information that not all Nextcloud users should have access to according to the new law (GDPR in english). I would propose the possibility to define users access to selective parts (or not at all) of the Contacts list.
In the first place I would like to

[2018-03-31 07:50] skjnldsv commented on #531
Hello!
Every user has its own addressbook. Unless you share one with another, one user's contacts won't be shared with another contact. :)

[2018-03-31 08:00] rollanders commented on #531
OK. I did not now that. Very good. So my main concern is not a problem.

Remains the possibility to share only parts of the details. I would for instance like the possibility to share the name and e-mail adress but not other details (birthdate, adress etc)

[2018-03-31 08:03] skjnldsv commented on #531
@rollanders, that on the other hand, it's not possible. :/
unfortunately, we only have a sharing system for addressbooks :)

[2018-04-01 12:55] #531 closed

[2018-04-01 13:09] rwat1 opened #532 "big Noobie question - iOS app"
I have the NextCloud App called 'Contacts' enabled in settings of WebUI.

But how do I access the Contacts on the iOS app on iPhone?

I have iPhone contacts is there a way I can sync from my iPhone via the NC App on iOS?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/56466404-big-noobie-question-ios-app?utm_campaign=plugin&utm_cont

[2018-04-01 15:18] skjnldsv commented on #532
Hello! :)
Yes, you can find the documentation here: https://docs.nextcloud.com/server/13/user_manual/pim/sync_ios.html

[2018-04-01 22:19] ygoe opened #533 "Changes are not saved"
### Steps to reproduce
1. Open a contact
2. Focus the organisation field and enter a name
3. Open another contact
4. Open the first contact again

### Expected behaviour
Organisation should be there

### Actual behaviour
Organisation is empty again

### Server configuration

**Operating system**: Ubuntu Linux

**Web server:** Apache 2.4

**Database:** PostgreSQL 10

**PHP version:** 7

**Nextcloud

[2018-04-02 05:32] skjnldsv commented on #533
Hey!
Have you updated to the latest? In includes a fix for this exact issue :)

[2018-04-02 13:17] alexanderdd opened #534 "Search does not include data from "notes", or other properties"
### Steps to reproduce
1. create Testcontact with Name "Zoe" and with the text "met in London" in the notes. (If you have no other contacts, create at least one more Testcontact with name "Ana", so that when you open the contacts app, Zoe is not selected).
2. Log out, Log in.
3. go to contacts app
3. search for "London" in the top right search field

### Expected behaviour
Zoe should be listed.

#

[2018-04-03 07:34] Mannshoch opened #535 "Describe what does Username in the Social Media field means"
How do I get that "Username" the Social Media Field mention?
Example:
![nextcloudsocial_media](https://user-images.githubusercontent.com/7795891/38235669-3309ae22-3722-11e8-8ae3-6b2c7606ce96.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/56546588-describe-what-does-username-in-the-social-media-field-means?utm_campaign=plugin&u

[2018-04-03 07:37] skjnldsv commented on #535
Hello! :)
@Mannshoch usually, it's the username located after the facebook.com url `https://www.facebook.com/max.muster34`

[2018-04-03 19:47] Andreas111 opened #536 "Keine Synchronisation mit Outlook 2016"
Ich bin leider nicht der englichen Sprache mächig, aber mein Problem ist hier sehr gut beschrieben

I do not speak English, but my problem is very well described here

[https://help.nextcloud.com/t/keine-synchronisation-von-kontakten-moeglich/29868](url)

Andreas

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/56582159-keine-synchro

[2018-04-05 09:14] elman22 commented on #433
Same issue here. Can't import VERSION:2.1. NC 13.0.1.1

[code]

[2018-04-05 09:17] elman22 commented on #492
Import using DAVdroid account works for me, however high resolution images are converted into small thumbnails. I assume they are just 64x64 px.

[2018-04-07 01:49] rwat1 commented on #532
@skjnldsv

wow thank you. It's all connected.

Just One last noobie question, can I make it so:

"iPhone contact list ---> NextCloud server backup"

For example, I have a ton of contacts already in my iPhone, just connected my CaDAV account, but I don't see the contacts on my NextCloud server?

If I add a new contact on iPhone, it doesn't show up on Nextcloud either :(

I also use gmail contacts.

[2018-04-07 06:41] skjnldsv commented on #532
Your contacts are probably saved in another addressbook on your ios device.
You need to make sure the contacts are now saved (and created) on the new nextcloud addressbook you just added to your ios :)

Apparently you can't export or move your contacts in ios.
You need to find the trick to do it somehow. I found a guide here: http://www.leawo.com/knowledge/5-ways-to-back-up-and-export-iphone-conta

[2018-04-07 06:46] skjnldsv commented on #532
Or if you have the sync with iCloud enabled: https://support.apple.com/kb/PH3606
Teems the best to me

[2018-04-08 09:05] RealMabuse opened #537 "Neue Gruppe / new group - Gruppe umbenennen / rename group"
Sobald ich einem Kontakt eine neue Gruppe (also wirklich neu, nicht in eine bestehende andere) zuweisen möchte wird der Name der Gruppe um den Zusatz "(neue Gruppe)" erweitert.
Ich finde keine Möglichkeit das zu verhindern oder die Gruppe anschließend umzubenennen.

Generell wäre es toll bestehende Gruppen einfach umbenennen zu können.

---

Whenever I want to assign a new group (i.e. really new,

[2018-04-08 09:53] danjde opened #538 "No contacts after upgrade from Nextcloud 12.0.6 to 13.0.1"
Hi Friends,
after the upgrade from NC 12.0.6 to NC 13.0.1 if I try to access to the contacts obtains only a spinning wheel and no contacts.

All other applications works fine: calendar, task, notes.
My nextcloud is on my Debian Jessie VPS, PHP 5.6.33-0+deb8u1.
No error for apache error.log.

Do you have experience of something like this? How I could debug it?

Many many thanks!

Davide

<bountysou

[2018-04-08 10:52] danjde commented on #538
Update:

The problem seems shows up only using the Seamonkey browser (which I usually use).
Now I've try from Firefox 57.0.4 (Quantum) and the contacts show up correctly.
However using debug console, this error are shown:

`Content Security Policy: Uploading a resource to self has been blocked by page settings (“script-src 'nonce-VHdxTGROV2pLYnNWMW0wVGhxVWxDRXI2MjhpR1ZwU3dIZm9LMm0zR3VRZz06SEYzZE5a

[2018-04-08 13:31] orcu opened #539 "Add confirmation on addressbook deletion"
### Steps to reproduce
1. Create a new addressbook by writing down the name and clicking on the arrow on contacts app's settings, shown at the bottom left of the page.
2. Add new contacts into the addressbook
3. Delete newly created addressbook by clicking on the options of the addressbook and hitting delete

### Expected behaviour
To be asked if I am sure to delete the addressbook AND the contact

[2018-04-08 13:34] skjnldsv commented on #538
Hello! :)
The error shown is not related to this failure. :)
We do not support seamonkey browser, only recents chrome/ium, firefox, safari... etc

[2018-04-08 13:35] skjnldsv commented on #537
Duplicate of #444

[2018-04-08 13:35] #537 closed

[2018-04-09 10:16] danjde commented on #538
Ah, ok effectively maybe it's not that important :-)
I just wanted to let you know about this problem, and that "Contacts" on every my many other NC apps is the only one with this issue.

Thank you for the work you do for the community ;-)

Ciao!

Davide

[2018-04-09 14:25] Mannshoch commented on #535
Maybe my English is to easy to get miss-understood. 🤔

I'm unsure, If I look on subjects I have to teach some so called Facebook "Pro User". Subjects I think think it's logic and I use Facebook maybe once a month.

[2018-04-11 15:59] sleepypioneer commented on #445
pr: #540 (worked as Team Popcorn for RGSoC 2018 with @suntala)

[2018-04-12 04:53] sunjam commented on #33
If it helps, [here is a script being used to import Google profile photos to Nextcloud Vcard.](https://github.com/IamTheFij/google-photo-to-vcard)

[2018-04-12 07:11] #445 closed

[2018-04-12 21:02] armaccloud opened #543 "Contact thumbnails / pictures aren't loading"
### Steps to reproduce
Open the Contacts App

### Expected behaviour
The contacts load, including the thumbnails pictures

### Actual behaviour
The thumbnails aren't shown.
Only when I open a contact, the thumbnail is loaded.
Waiting doesn't help

## Server configuration detail

**Operating system:** Linux 3.10.0-714.10.2.lve1.4.75.el7.x86_64 #1 SMP Fri Nov 3 04:25:16 EDT 2017 x86_64

**Webserver:

[2018-04-12 21:03] armaccloud opened #544 "Contacts thumbnails/pictures aren't loading"
### Steps to reproduce
Open the Contacts App

### Expected behaviour
The contacts load, including the thumbnails pictures

### Actual behaviour
The thumbnails aren't shown.
Only when I open a contact, the thumbnail is loaded.
Waiting doesn't help

## Server configuration detail

**Operating system:** Linux 3.10.0-714.10.2.lve1.4.75.el7.x86_64 #1 SMP Fri Nov 3 04:25:16 EDT 2017 x86_64

**Webserver:

[2018-04-12 22:53] #544 closed

[2018-04-12 22:57] skjnldsv commented on #543
Duplicate of #477

[2018-04-12 22:57] #543 closed

[2018-04-13 09:53] #183 closed

[2018-04-15 02:54] WNYmathGuy opened #545 "[Feature Request]? Social Network types drop-down is missing "Mastodon""
I'm kind-of enamored by this new [Mastodon](https://joinmastodon.org/) thing and I noticed we don't have an option to mark a **Social network** item in [**Contacts**](http://localhost/index.php/apps/contacts/#/All%20contacts) as a Mastodon type. Since NextCloud is a federated thing and so is Mastodon, it seems like a professional courtesy to have that one in soon.

[2018-04-18 12:00] mburnicki commented on #433
I'd also appreciate if VCF v2.1 support was **not** dropped.

[2018-04-18 12:03] laurent22 commented on #433
Probably VCF 2.1 support is simply broken, but not dropped since SabreDAV supports it.

[2018-04-19 10:45] rvaneijden opened #546 "Skype entries not recognized by iOS as Skype"
### Steps to reproduce
1. Create new contact
2. Add instant message entry with label Skype (default)
3. Add a handle
4. In iOS the label after synchronization is "Instant message" instead of "Skype"

### Expected behaviour
Skype labels in nextcloud should be recognized as Skype in iOS

### Actual behaviour
See list above

### Server configuration

**Operating system**:
Debian stretch (raspberry pi

[2018-04-19 10:52] skjnldsv commented on #546
Hello :)
Thanks for your issue. Could you create a skype entry in a fake contact, save,  export the contact and post the vcf here please?

[2018-04-19 14:54] rvaneijden commented on #546
Please find attached the requested vcf.
[test.zip](https://github.com/nextcloud/contacts/files/1928597/test.zip)

[2018-04-19 15:07] skjnldsv commented on #546
Thank you very much!
so it appears apple is storing the entry under the param: `IMPP;TYPE=SKYPE`

[2018-04-19 15:11] skjnldsv commented on #546
After looking at the code, we do the exact same thing :/
Can yo upost a test contact created with our app?
Bonus: if you could create a fake contact with the "Instant messaging" set to Skype, let it sync to ios, download it and post it there, that would be awseome :)
I'm trying to see if ios is editing the data on sync ;)

[2018-04-20 00:44] Sanaki opened #547 "Company contact entries don't display properly on load"
Sometimes it's necessary to have business contact information stored when there is no individual person associated with that contact, for instance local stores or business suppliers. Most implementations of CardDAV (Thunderbird, Android via DAVDroid, etc) will accept these entries if the name is not filled out, the company name is, and no display name is provided (because display names are always

[2018-04-20 05:27] felmey commented on #547
I have this exact same issue...  I have dozens of "New contact" listed in my NextCloud contacts for those businesses I have saved using their company names.

[2018-04-20 10:46] Sanaki commented on #547
Added .txt extension to allow upload. Unedited before posting, since this is just a basic publicly available contact.
[14140681-4eb8-47c6-98b1-45195ce27a5d.vcf.txt](https://github.com/nextcloud/contacts/files/1931801/14140681-4eb8-47c6-98b1-45195ce27a5d.vcf.txt)

[2018-04-22 13:52] chrsch commented on #213
@skjnldsv Did you have any success with this? Is it still ongoing or stale?

[2018-04-23 20:04] sirl1on commented on #378
Can confirm this, my contacts have been managed by own/nextcloud since version 5 with multiple DAV-Clients. A  lot of contacts have multiple "Detailed Info" sections and cannot be moved to another group or even edited in any way.

[2018-04-24 16:03] coreyman opened #548 "Extra LDAP login requests are made when contacts app enabled."
### Steps to reproduce
1. Enabled LDAP user and group backend. Enable Contacts App.
2. Login as any domain user, netlogon logs on windows domain controller show 4-6 extra auth attempts
3. Disable Contacts App.
4. Login as any domain user, netlogon logs on windows domain controller show 2 auth attempts per try

### Expected behaviour
No extra authorization attempts.

### Actual behaviour
Extra auth

[2018-04-24 17:41] syntron commented on #533
It seems to be that I have the same issue; I also found it reported as #402 and #405. However, here I'm using the latest version of nextcloud (13.0.1.1 with Contact 2.1.3). It seems to be that only (if at all) the firs change to a contact is saved. All later change get the respons 'Contact could not be saved'. In the server logs, I find http error code 400 for the first request and 412 for the lat

[2018-04-24 17:53] syntron commented on #533
I also found #462, #501 and #507; any hints how to debug?

I will try to follow the description in these bug reports next weekend.

[2018-04-25 15:13] rvaneijden commented on #546
Hello John,

Sorry for the late reply.

By iOS contact was made on iPhone and sync'ed to nextcloud see the
result below, including vcf.

"te st" was made on nextcloud and sync'ed to iPhone see below (result in
iPhone attached):

Looks to me the field name (instant messaging) is send to iPhone, not
the field type label (Skype).

Hope you can do something with this information.

Kind regards,

Rutge

[2018-04-25 16:41] Steineklopfer commented on #538
I have the same issue with Chrome 66.0.3359.117.
Contact app only shows an endless spinning wheel and nothing.

It works on FF though.

[2018-04-25 19:27] syntron commented on #533
@skjnldsv - here is the screenshot:
![20180425-01-nextcloud-contact-error](https://user-images.githubusercontent.com/32058823/39268047-01e193dc-48cf-11e8-8c1b-14d161673a1a.png)
I noticed that it is specific to some contacts. My data has this problem. As mentioned elsewhere it could be relating to the wedding day I added at a time. However, currently it is not even displayed anymore ...

[2018-04-25 19:29] skjnldsv commented on #533
Okay, that's what I thought. The first save failed as well. Can you click on it and copy the response tab here please? :)

[2018-04-25 19:35] skjnldsv commented on #538
@Steineklopfer any log in the console?

[2018-04-26 05:55] Steineklopfer commented on #538
Well actually no. I didn't check the console yesterday and today it works. Don't know what changed. I even reinstalled Chrome yesterday and it didn't want to work. Maybe because I was able to use it with FF or my phone in the meanwhile? Didn't change anything else...

[2018-04-26 06:00] skjnldsv commented on #538
@Steineklopfer Probably a caching issue, we had this a lot lately :)

[2018-04-26 06:00] #538 closed

[2018-04-26 08:55] alexanderdd commented on #242
This actually needs some usecase thinking, at a higher development level.

There seem to be 3 different usecases for nextcloud installs:
1. personal nextcloud, only one user
2. team/company nextcloud. Users want to interact or should be able to.
3. cloud hosting for individuals. Users don't know each other and don't want to interact.

I feel like 3. is a rare case, and may even be a bad idea?!

@m

[2018-04-26 17:03] hitam4450 commented on #273
Any news - resp. progress to be reported on how to resolve this issue ??

[2018-04-26 17:45] syntron commented on #533
Hello John,

here is the error message:

<?xml version="1.0" encoding="utf-8"?>
<d:error xmlns:d="DAV:" xmlns:s="http://sabredav.org/ns">
  <s:exception>Sabre\DAV\Exception\BadRequest</s:exception>
  <s:message>Calendar object with uid already exists in this calendar
collection.</s:message>
</d:error>

It seems to be the same error as mentioned in the other issues. I also tested
it with other cont

[2018-04-26 20:51] sleepypioneer commented on #354
Hi @jancborchardt and @rutujasurve94 I saw this was still open and was working on a similar issue for which this one helped me, as I have a solution I have also made a pull request #550 for this issue. I hope you don't mind  @rutujasurve94 the notes you all shared were a great help!!

[2018-04-27 05:38] skjnldsv commented on #533
Hey, thanks a lot :)
This helps very much indeed. There is an uid issue. For some reson there is already a calendar entry with the same uid. Could you look at your calendarobjects table and search for this uid :/

[2018-04-28 08:40] freakms opened #551 "Can't import user in MS Internet Explorer"
### Steps to reproduce
1. Open the Contacts App
2. click settings
3.click import
4. choose the import file

### Expected behaviour
The Contacts should be imported to the chosen addressbook

### Actual behaviour
In Firefox and MS Edge, i am able to choose the file, but nothing happened. I am waiting but no contacts are imported and the loadcircle doesnt stop.

In MS Internet Explorer, I am not able

[2018-04-28 09:54] skjnldsv commented on #551
Hello! We're gonna need the browser log as well! :)

[2018-04-28 10:04] freakms commented on #551
[Firefox_log.log](https://github.com/nextcloud/contacts/files/1957567/Firefox_log.log)

[2018-04-30 05:33] skjnldsv commented on #551
Oups, sorry, it's not this log :)
It's the console log, opn the dev tools and click the consqole tab. Refresh and reproduce your case :)

[2018-04-30 07:57] freakms commented on #551
oh ok...
[console_log.log](https://github.com/nextcloud/contacts/files/1959822/console_log.log)

[2018-04-30 07:59] skjnldsv commented on #551
Thanks :)
Duplicate of #433

[2018-04-30 13:35] bestouff commented on #46
I still have the problem with DAVDroid 1.11.1-ose from f-droid ...

[2018-04-30 21:45] skjnldsv commented on #533
@georgehrke do you know what are these table used for?
It seems we have a collision here (which is very unlikely, so it's strange)
@syntron can you dump the data here? from the calendarobject table?

[2018-04-30 21:57] fauust commented on #166
+1

[2018-05-01 18:15] syntron commented on #533
@skjnldsv which data do you need exactly? I'm hesitating to post all the contact data stored in the table ...

[2018-05-02 11:58] dinura opened #552 "Type Error: The object does not support the findIndex property or method."
### Steps to reproduce
1. Clicking Contact Icon for a List View on IE 11.0.9600.18977
2. See just "Lodaing Icon" on the right side. No contacts.
3. Try to create a new Contact and have no reaction from Browser. The same Actions on Firefox 59.0.2 are successful.

### Expected behaviour
 Load existing contacts and see the Listview.

### Actual behaviour
No Contacts, no reaction.

Web Server:
Ubuntu

[2018-05-02 17:36] syntron commented on #533
It could be what the fields were add to the nextcloud instance at versions < 13.0.1.

Is were a simple way to (re)generate the data? My best idea is to export all contacts => delete them => import.

[2018-05-03 12:51] jm009 opened #553 "Contacts not working with Chromium, if protected by basic authentication"
### Steps to reproduce
I installed Nextcloud under the Tomcat webserver: https://help.nextcloud.com/t/success-nextcloud-runs-with-jfastcgi-on-tomcat-9-0-1-beta/23935

I found out, the issue can be reproduced with a 'normal' installation under Apache, if I protect the nextcloud directory by adding add the end of the .htaccess file (create user tom in Nextcloud first, use the same password in Nextcl

[2018-05-04 06:29] kadkarol opened #554 "contacts not working in Firefox, Chromium, Konqueror for ubuntu 16.04"
-->
### Steps to reproduce
1. Clear install nextcloud 13
2. Run Contacts app
3. When I want to add or import addresses, nothing happens, See
"Contact could not be created" or " Address book could not be created."

**Operating system:
**Web server:*

**Database:**

**PHP version: 5.6.31 or 7.0.24 or 7.1.10

**Nextcloud version:13.02 clear install
**Contacts version:** 2.1.3

**Signing status:**

[c

[2018-05-04 07:24] skjnldsv commented on #553
Hello :)
Can you check if the calendar is working too?

[2018-05-04 07:56] kadkarol commented on #554
Yes, I see

`/**
 * Polyfill from developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Array/find
 */
if (!Array.prototype.find) {
  Array.prototype.find = function(predicate) {
    if (this == null) {
      throw new TypeError('Array.prototype.find called on null or undefined');
    }
    if (typeof predicate !== 'function') {
      throw new TypeError('predicate must be a function'

[2018-05-04 08:00] skjnldsv commented on #554
So, it's strange that you get s a 403.
Care to screenshot your browser network requests, especially the `js` list?

[2018-05-04 08:12] jm009 commented on #553
Yes, calendar is working, with Chromium and with Firefox.
And, I forgot to tell, contacts are working with Firefox.
The only thing that does not work are Contacts with Chromium.

[2018-05-04 08:14] skjnldsv commented on #553
Okay, thanks :)

[2018-05-04 08:41] #354 closed

[2018-05-04 09:30] kadkarol commented on #554
js
`JQMIGRATE: Migrate is installed, version 1.4.0
/index.php/apps/files/:1 REPORT http://example.com/index.php/apps/files/ 403 (Forbidden)
3dav.js?v=a78ce0f3-0:3746 Uncaught (in promise) Error: Bad status: 403
    at XMLHttpRequest.request.onreadystatechange (dav.js?v=a78ce0f3-0:3746)
request.onreadystatechange @ dav.js?v=a78ce0f3-0:3746
DevTools failed to parse SourceMap: http://example.com/core

[2018-05-04 13:58] jancborchardt commented on #444
Upping this to medium and help wanted since it seems to occur quite often. @nextcloud/javascript any ideas how to fix this?

[2018-05-04 20:30] sunjam commented on #167
I'm also confused... is it possible to use the Circles app to add functionality to Contacts app as @ArnY  mentioned?

[2018-05-05 07:04] skjnldsv commented on #167
We can't. :)
This app is just an interface for your webdav contacts. It has nothing to do with sharing and stuff.
If you want, you can request (if it does not exists already) on the server, to be able to have contacts groups in the sharing dropdown :)

[2018-05-05 07:04] #167 closed

[2018-05-07 20:37] shawe commented on #554
Same problem here, can I attach any useful information?

[2018-05-08 05:35] skjnldsv commented on #554
@kadkarol I would prefer a screenshot of the network tab. Your output is barely readable :p
Thanks

[2018-05-08 05:44] kadkarol commented on #554
![request_firefox]
(https://user-images.githubusercontent.com/1473762/39739825-34d29872-5293-11e8-830c-62c711b9bd77.png)

[2018-05-08 06:02] skjnldsv commented on #554
Okay, it's the 302 that interests me :)
I now understand why this happens. Could you click the 302 redirect requests and screenshot the full headers please? (request, server and browser's headers )

[2018-05-08 07:00] kadkarol commented on #554
![302_nextcloud](https://user-images.githubusercontent.com/1473762/39742567-477825cc-529e-11e8-8648-eb3833e8941c.png)

[2018-05-08 07:11] skjnldsv commented on #554
Thanks for your time @kadkarol :)
Could you give the full request url ? It's clipped in your screenshot. Just remove your domain name and replace your userid if you want ;)

[2018-05-08 07:28] kadkarol commented on #554
Yes, sorry adres:
http://example/remote.php/dav/addressbooks/users/kadkarol/contacts/d85464b7-8729-411b-be3b-fd1155420425.vcf

My adressbook is clear, no adress:)

[2018-05-08 07:43] skjnldsv commented on #554
@kadkarol What do you mean by: your addressbook is clear?

It seems that the ressource you're trying to get/create/edit is not available. Either the addressbook or the contact.
My guess is that your suer is not initiated. Do you have access to a dav browser? Like cadaver?
If so, could you try to log into your dav account and list the available entries?

`cadaver https://cloud.xxxxx.com/remote.php/

[2018-05-08 07:49] kadkarol commented on #554
There is only the Contacts directory and 0 elements in it

[2018-05-08 07:50] skjnldsv commented on #554
Could you try to delete the default addressbook and create a new one?

[2018-05-08 07:55] kadkarol commented on #554
I do not know how to delete the default address book.
I can't create a new one. I see: "Address book could not be created."

[2018-05-08 07:57] skjnldsv commented on #554
Either with cadaver or in the contacts app, on the bottom left :)

[2018-05-08 08:02] kadkarol commented on #554
No option to delete
![delete_adressbook](https://user-images.githubusercontent.com/1473762/39745210-e5507aa8-52a6-11e8-88f6-943da4ae185b.png)

[2018-05-08 08:18] skjnldsv commented on #554
AH yes, because it's the only one left, my bad :)
Then cadaver only: `rmcol contacts`
Reloading the contacts app will automatically trigger a new addressbook creation

[2018-05-08 08:50] kadkarol commented on #554
I used a cadaver and deleted contacts.
After logging in to the nextcloud, it's the same. I have just tried with owncloud and it is similar :).

[2018-05-08 09:11] kadkarol commented on #554
`dav:/remote.php/dav/addressbooks/users/kadkarol/> rmcol *
[Matching... 1 match.]
Deleting collection `contacts/': redirect to http://chmura.akademiasorobanu.pl/index.php/apps/files/
dav:/remote.php/dav/addressbooks/users/kadkarol/> ls
Listing collection `/remote.php/dav/addressbooks/users/kadkarol/': succeeded.
Coll:   contacts                               0  sty  1  1970
dav:/remote.php/dav/add

[2018-05-08 09:32] skjnldsv commented on #554
@kadkarol sooo, still not working?
Still getting a redirect?

I don't get why dav is redirecting you. What web server are you using?

[2018-05-08 10:05] kadkarol commented on #554
I have a hosting on the server  linux.pl

[2018-05-08 12:04] skjnldsv commented on #554
So you don't have access to the webserver config?
Could you try to reach them?

[2018-05-08 12:09] kadkarol commented on #554
I can change some php options
If I know what to change, I can ask for it.

[2018-05-08 14:50] skjnldsv commented on #554
Well, considering the fact that the data exists in the dav server, the redirection should not happen. Is this a nextcloud hosting or a traditional web hosting?

[2018-05-08 15:34] kadkarol commented on #554
Traditional web hosting, and I manualy install nextcloud

[2018-05-09 20:02] syntron commented on #533
I did a save/export => delete on server => restore/import cycle and now it seems to work

[2018-05-10 13:53] ygoe commented on #533
Bug seems gone, with Nextcloud 13.0.2, without having investigated any of the details mentioned here.

[2018-05-10 16:48] syntron commented on #533
note: before this I did update to the latest version (13.0.2)

[2018-05-10 20:44] skjnldsv commented on #536
Nice! Closing then.

[2018-05-10 21:01] creopard commented on #283
It's a great idea, but it might not be necessary, as there are already phone apps that do all that on the fly.
(e.g.: https://play.google.com/store/apps/details?id=com.teacapps.barcodescanner and many more)
On the one hand these apps can create/display a QR code by sharing a contact via the app and on the other hand it can also scan a QR code and create a new contact automatically.

[2018-05-12 12:57] kadkarol commented on #554
Hi, I found a solution.
You must add an entry to .htaccess
`<Limit GET POST>
order allow,deny
allow from all
</Limit>
<Limit PUT DELETE>
order allow,deny
allow from all
</Limit>`

However, the reason why this entry does not work is not known to me

[2018-05-14 06:41] skjnldsv commented on #554
Thanks :)
I guess it was a config issue then ;)

[2018-05-14 06:41] #554 closed

[2018-05-15 06:40] dinura commented on #552
Hi John,
in actual Nextcloud Server Version supports IE11. Is there any information about supported browsers in documentation of the Contacts App? I haven't found in anywhere. Unfortunately we use IE as main Browser in our company. Is the any possibility that support will come in a future?

Best regards,
Asel

[2018-05-15 06:44] skjnldsv commented on #552
@dinura We're planning on rebuilding the app. A compatibility will be far more easier then. it should be possible I guess. :)

[2018-05-16 08:22] EricThi opened #556 "Search/Create Contacts/Address Book not possible"
### Steps to reproduce
1. go to Contacts
2. New contact => There is no address book available to create a contact.
2a. Check Address Book :
[ https://dl.plik.eric.ovh/file/pEcDBt237bFNL0IM/HMD1a3km91Afe5hr/2018-05-16-100050_1913x974_scrot.png ](url)
3. Search contacts :
[ https://dl.plik.eric.ovh/file/pEcDBt237bFNL0IM/ggCElA45qMoKC60d/2018-05-16-101024_1912x969_scrot.png ](url)

### Expected behav

[2018-05-16 08:30] skjnldsv commented on #556
Hello Eric :)
There is indeed something very wrong here. But it's not related to the contacts app.
The table is missing somehow. I don't know why, maybe a timeout during the installation?

Do you have access to your database?

[2018-05-16 10:03] EricThi commented on #556
Hum, i hesitate to post directly on server... :/
Sorry,

I didn't relaunch create table ? Any timeout during the installation (via woozard, i deploy via tar.bz2) don't use autoinstall.

Yes, I have access, only table nextcloud :
| def           | nextcloud          | oc_accounts                                        | BASE TABLE  | InnoDB             |      10 | Compact    |          3 |

[2018-05-16 10:18] skjnldsv commented on #556
You indeed have some table missing.
I would suggest a clean install if it's not too late. If not possible, here is the structure of my addressbook table:

[code]

[2018-05-16 10:36] EricThi commented on #556
Thank you,

don't soluce for my case, i go redeploy and check tables after first deploy :

[code]

[2018-05-16 10:40] skjnldsv commented on #556
So, did it work?

[2018-05-16 10:43] EricThi commented on #556
No didn't... i go reinstall it

thank you for your time.

I check to repair DB with occ :

sudo -u http php occ maintenance:repair
 - Repair MySQL collation
     - Change row format for oc_addressbooks ...
     - Change collation for oc_addressbooks ...
 - Repair mime types
 - Clean tags and favorites
     - 0 tags of deleted users have been removed.
     - 0 tags for delete files have been remove

[2018-05-16 10:46] skjnldsv commented on #556
Yeah, you're apparently missing more than just the addressbook table :/
Is reinstalling out of question?

[2018-05-16 10:48] EricThi commented on #556
Redeploy VM and new fresh install ;)

I deploy yesterday this instance ;) no data loss :)

[2018-05-16 11:23] #556 closed, assigned to nobody

[2018-05-16 12:14] GLLM commented on #27
I definitely miss this ability ... When I imported my contacts from Google, I lost plenty of custom labels (mostly phones labels), making my contatcs unusable.

Thanks !

[2018-05-16 18:40] geniusupgrader commented on #545
Why not let the user define the name of the social network, instead of give predefined entries? Is this possible. For example, I miss the social network XING and a bunch of others, but always do a Feature Request is not the way I think, or is it? Of course the big ones should be predefined. Maybe put a "user defined" entry in the drop-down list and turn the drop-down list of that into an text view

[2018-05-17 14:39] jones1008 opened #557 "info button within the quick contact search doesn't work"
### Steps to reproduce
1. click on quick contact search button
2. search for a contact
3. click on the "info"-button behind a found contact

### Expected behaviour
opens contacts app and automatically selects the contact you searched for

### Actual behaviour
opens contacts app and only selects first contact instead of the contact you searched for

## Server configuration detail

**Operating syste

[2018-05-20 06:57] Spartachetto commented on #545
Related to #130

[2018-05-20 20:26] jm009 commented on #553
I am not familiar with debugging dav.js and angular.js.
Can this be a bug in Chromium?

[2018-05-21 13:42] brettferrell commented on #533
I get this exact behavior in 30.0.2/2.1.3

[2018-05-21 22:18] kangaroo72 opened #558 "Contacts in Webinterface from NC are shown with a semicolon (;)"
Hi all ..

I've recognized, that the contacts in NC are shown with a semicolon between last and first name ...
See here ..

![grafik](https://user-images.githubusercontent.com/6906390/40332690-34d23ce8-5d55-11e8-8b45-f845a139344d.png)

Seems not to have an impact, but is annoying ...
Is someone aware of that?

NC 13.02
Contacts 2.1.3

<bountysource-plugin>

---
Want to back this issue? **[Post a b

[2018-05-21 23:58] nd- commented on #433
Same problem as @laurent22, javascript error, unable to import contacts.
Tested on FF 60 and Chrome 66, same javascript errors in the console.

[2018-05-22 21:51] kangaroo72 commented on #433
I also confirm on latest FF & Chrome Browsers ...

[2018-05-22 22:28] nd- commented on #433
I just edited my vcf files, find and replace "VERSION:2.1" with "VERSION:3.0", and it works now.

But now i have some carbook properties with "INTERNET=:" or "CELL=:"

I tried a mysql replace() in the oc_cards_properties table, but no luck, it seems these properties are stored in oc_cards, in the carddata BLOB.

In my vcf files, i have properties like "email;internet:user@domain.tld", is it an iss

[2018-05-22 23:03] elman22 commented on #433
Replacing header VERSION might work for some cases, but there are changes between 3.0 and 2.1 and parser does things slightly differently. Therefore you cannot expect to work this 100%. See for example https://pear.php.net/manual/en/package.fileformats.contact-vcard-build.intro.php

Proper 2.1 support would be welcomed.

[2018-05-23 06:43] skjnldsv commented on #558
Hey @kangaroo72
Can you post a vcard example? :)

[2018-05-23 06:44] skjnldsv commented on #557
Hello @jones1008
Do you have an error on the top when you get redirected? Like "contact not found" or something like that?

[2018-05-23 13:17] skjnldsv commented on #558
@kangaroo72 Do you have any errors in your browser's console log?

[2018-05-23 17:16] StreamThreader commented on #533
13.0.2 same error

[2018-05-24 12:56] brettferrell opened #559 "Changes not saved"
### Steps to reproduce
Just like #533 #402 #405 Every single time I try to make a change to a contact in the Contacts app, it says "Contact Could Not Be Saved", making the web interface completely useless.  Fortunately I can create and edit contacts on my iOS devices.
1. Create or edit a contact
2. Change any data
3. Try to Save
4. Weep in disgust

### Expected behaviour
It should save the contact

[2018-05-24 12:59] skjnldsv commented on #559
Hey, thanks for reporting! :)

(XHR)PUT - https://ferrellmac.com:444/remote.php/dav/addressbooks/users/bferrell/contacts/0de04bae-1f41-4f39-b33b-59144a2b0768.vcf

This is the error. After you get one error 500, the precondition will fail on every edit you do.
Can I see your nextcloud log as well please?
You will probably need to cut out the unwanted parts, but there should be one retarding this er

[2018-05-24 13:55] brettferrell commented on #559
I'd love to give you that, but I don't find any log in /var/www/nextcloud/data for some reason. Is there some place else I should look?

[2018-05-24 13:57] skjnldsv commented on #559
Your webserver log maybe?
The nextcloud.log should be into your data directory, if he's not, either the permissions are wrong or the config.php have overridden the correct path :)

[2018-05-24 16:18] skjnldsv commented on #559
There is this line:

You need to increase you php `memory_limit` :)

[2018-05-24 17:59] #553 closed

[2018-05-24 21:55] hast0011 commented on #477
Same issue here since an update to nc13. Before everything works just fine so there is no need to develop something new. Just make it as before. The width of contacts is ok since an update of the contacts app but photos will only show up if I click to the contact.

[2018-05-29 07:50] raoulbhatia opened #560 "Changing email type doesn't update X-ABLABEL"
### Steps to reproduce
1. Upload a contact with X-ABLABEL set for the email, i.e.
[code]
2. The email address will be shown as type `_$!<OTHER>!$_`.
3. Change the type to `Work`.
4. Switch contacts from one to another contact and back.
5. The email address still shows as type `_$!<OTHER>!$_`.

### Expected behaviour
The vcard should be sanitized and simplified to contain something like:
[code]

##

[2018-05-29 07:52] skjnldsv commented on #560
Hello! :)
Yes, we do no supports X-properties yet.

[2018-05-29 12:07] raoulbhatia commented on #560
Thanks for the update.  Let me know if there is anything I can help with – besides writing a patch ;-)

[2018-05-29 16:17] bestouff opened #561 "HTTP error 415 "Unsupported media type" happens again"
As specified in #46 the problem happens again since around DAVDroid 1.11.1-ose from f-droid : `Validation error in vCard: REV MUST NOT appear more than once in a VCARD component`; using Nextcloud 12.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/58978786-http-error-415-unsupported-media-type-happens-again?utm_campaign=plugin&utm_c

[2018-05-29 17:02] bestouff commented on #561
Davical log:
[code]

[2018-05-29 23:16] danicotillas commented on #559
@skjnldsv could you tell me where do I have to edit that line and what should it be written down please?

[2018-05-30 04:16] skjnldsv commented on #559
@danicotillas depends on what system and software you got :)
What os?

[2018-05-30 08:30] skjnldsv commented on #559
Usually it's on /etc/php.ini.
Search for the 'memory_limit'. Try increasing it to something like 64M

[2018-05-30 08:49] danicotillas commented on #559
There is not php.ini on that folder. There are the folders for emails apparently.

[2018-05-30 08:51] skjnldsv commented on #559
try /etc/php/php.ini. Or search the centos documentation

[2018-05-30 10:34] danicotillas commented on #559
:( When I set a php.ini with 64M the site cracks and goes to localhost url.
There is a user.ini on nextcloud root folder and it´s set to 1024MB... but there is still the error that changes are not saved. Any other idea?

[2018-05-30 11:16] skjnldsv commented on #559
@danicotillas are you sure you're experiencing the same issue than @brettferrell ?

Do you have any error in your browser console?

[2018-05-30 12:29] brettferrell commented on #559
I doubled it, but I still get the could not save error.  It still says memory exhausted at 1024M.  Any idea how much memory this thing needs, or do I just keep plugging away until I find something that works?

[2018-05-30 12:32] skjnldsv commented on #559
@brettferrell 1024 is already crazy. I suspect something else.
I'm not the best in this, but you need to debug your mysql instance and find what is responsible for this memory exhaustion :(

[2018-05-30 12:38] brettferrell commented on #559
4096 seems to have worked...

[2018-05-30 12:40] brettferrell commented on #559
and the only thing running in this VM is a (pretty small) NextCloud instance...

[2018-05-30 13:07] skjnldsv commented on #559
@brettferrell that is really strange. :/
Shall we close then? @danicotillas please ensure you have the same issue (see above logs). If so, the fix I provided should be enough.
If not, then create your own issue. Thanks :)

[2018-05-30 13:07] #559 closed

[2018-05-30 13:15] danicotillas opened #562 "Changes not saved on Contacts"
### Steps to reproduce
1. I create a new contact or modify one
2. It appears the message "Changes not saved"

### Expected behaviour
The changes should be saved automatically

### Actual behaviour
When I write a change or a new contact it simply doesn´t save on the records.

### Server configuration

https://caracol.nodocomun.org/i.php

**Are you using encryption:** yes

**Are you using an externa

[2018-05-30 13:19] skjnldsv commented on #562
Hey again :)
Can you screenshot your network request list after the message appear? (Open dev tools > network tab > there must be one request in red)

[2018-05-30 13:46] skjnldsv commented on #562
Perfect! Don't be sorry :)
Can you click on the 412 red request and copy the 'response' tab here please?

[2018-05-30 13:50] danicotillas commented on #562
## When I click on dav.js

send | @ | dav.js?v=2d0ffb9a-15:3738
-- | -- | --
  | callee$2$0$ | @ | dav.js?v=2d0ffb9a-15:3251
  | tryCatch | @ | dav.js?v=2d0ffb9a-15:121
  | invoke | @ | dav.js?v=2d0ffb9a-15:294
  | Gp.(anonymous function) | @ | dav.js?v=2d0ffb9a-15:330
  | onFulfilled | @ | dav.js?v=2d0ffb9a-15:3834
  | (anonymous) | @ | dav.js?v=2d0ffb9a-15:3823
  | co | @ | dav.js?v=2d0ffb9a-15: